[2015-10-28 14:26] dwsupplee opened #1 "Thoughts on our http layer?"
[Guzzle](https://github.com/guzzle/guzzle) is a fantastic http client that's well tested, thought out, and maintained. Should we run with it, or choose something else?

[2015-10-28 14:33] stephenplusplus opened #2 "Use google-auth-library"
https://github.com/google/google-auth-library-php

[2015-10-28 14:36] stephenplusplus opened #3 "Inline Docs"
Find a standard library to write docs alongside the code, similar to [JSDocs](http://usejsdoc.org/).

[2015-10-28 14:37] stephenplusplus opened #4 "Build Process"
Integrate with Travis to run tests, build docs, etc.

[2015-10-28 14:38] stephenplusplus opened #5 "Testing"
Any preferred testing libraries to incorporate here?

[2015-10-28 14:39] stephenplusplus opened #6 "Google CLA Bot"
We need to get our favorite CLA bot running here. // @jgeewax

[2015-10-28 14:42] dwsupplee commented on #3
This could be a good option :)

[https://github.com/phpDocumentor/phpDocumentor2](https://github.com/phpDocumentor/phpDocumentor2)

[2015-10-28 14:43] stephenplusplus opened #7 "Bring in core MD files from gcloud-common"
From https://github.com/GoogleCloudPlatform/gcloud-common:

  - [CONTRIBUTING.md](https://github.com/GoogleCloudPlatform/gcloud-common/tree/master/contributing)
  - [CODE_OF_CONDUCT.md](https://github.com/GoogleCloudPlatform/gcloud-common/blob/master/conduct/CODE_OF_CONDUCT.md)

[2015-10-28 14:44] bshaffer commented on #1
We should definitely use Guzzle! However, guzzle 5 and 6 are completely different on account of PSR7, and our auth and apiclient libraries use guzzle 5.

Since this library will depend on the auth library, I imagine we have to stick with guzzle 5 for now.

[2015-10-28 15:04] bshaffer commented on #5
Yes, phpunit 4.8

[2015-10-28 16:06] dwsupplee commented on #5
Agreed on phpunit

[2015-10-28 17:40] dwsupplee commented on #1
I'd hate to force someone's app code to be tied down to guzzle 5 just because they're using our library. There may be some ways to work around this, doing some research now. :)

[2015-10-28 17:43] bshaffer commented on #1
Agreed. There is a precedent for libraries using multiple versions of guzzle, as demonstrated in the AWS PHP SDK [here](https://github.com/aws/aws-sdk-php/tree/master/src/Handler). This is something we'd like to do with our client/auth libraries as well.

[2015-10-28 18:08] bshaffer commented on #1
Note the [composer.json](https://github.com/aws/aws-sdk-php/blob/master/composer.json#L20) allows either ~5.3 or ~6.

[2015-10-28 18:16] dwsupplee commented on #1
I really like their approach. Maybe we could abstract a similar approach out into it's own module and use that between our various libraries?

[2015-10-28 22:05] dwsupplee commented on #7
Fixed by: 28a51895bffc9774c90493898ddac915705f467e

[2015-10-28 22:05] #7 closed

[2015-10-28 22:06] dwsupplee commented on #5
PHPUnit 4.8 bootstrapped by 28a51895bffc9774c90493898ddac915705f467e

[2015-10-28 22:06] #5 closed

[2015-10-29 00:34] bshaffer commented on #1
@dwsupplee that would be great! The main setback for me was making it work with [google/auth](https://github.com/google/google-auth-library-php), which is based entirely on `Guzzle Emitters`, which were [removed with 6 in favor of Middlewares](https://github.com/guzzle/guzzle/blob/master/UPGRADING.md#migrating-to-middleware).

The auth library will fit great as a middleware however, so I think it'

[2015-10-29 14:08] dwsupplee commented on #4
@jgeewax I will need admin rights to the repository in order to set up travis :)

[2015-10-29 14:10] jgeewax commented on #4
Done :)

[2015-10-29 17:13] dwsupplee commented on #4
@jgeewax Thanks JJ! Got a a basic build set up and passing. So far it runs unit tests and a code sniff.

[2015-10-29 17:13] #4 closed

[2015-10-30 19:23] tmatsuo opened #8 "Stream wrapper for Google Compute Engine metadata"
I have a prototype code for a stream wrapper for Google Compute Engine metadata.
https://cloud.google.com/compute/docs/metadata?hl=en

I'd like to contribute it. What do you think?

[2015-10-30 20:13] dwsupplee commented on #8
Hey Takashi! I could certainly see something like this being beneficial and would be interested in taking a look at a PR.

@jgeewax Do you have any thoughts on this?

[2015-11-06 23:50] tmatsuo opened #9 "Monolog logging handler for Managed VMs"
I'm thinking to write a monolog logging handler for Managed VMs, which is equivalent to this:
https://github.com/GoogleCloudPlatform/appengine-python-vm-runtime/pull/18/files

Does it make sense to have this logging handler in this repo?

[2015-11-07 00:27] bshaffer commented on #9
It might be more appropriate to put in https://github.com/GoogleCloudPlatform/appengine-php-sdk

[2015-11-08 20:03] JustinBeckwith commented on #9
I'd rather see us write a proper cloud logging veneer in PHP, and then have
a thin  monolog handler on top of that.  There's an existing veneer for Go:

https://github.com/GoogleCloudPlatform/gcloud-golang/tree/master/logging

The Python code we're looking at writes files to a magic directory that
Managed VMs uses with fluentd.  It will only work on App Engine.  If we
build cloud logging support i

[2015-11-09 18:37] bshaffer commented on #9
Currently the [AppEngine Logs API](https://cloud.google.com/appengine/docs/php/logs/) uses `syslog`. Perhaps the veneer library (and also the Google PHP Client library) should detect AppEngine and use monolog's [syslog handler](https://github.com/Seldaek/monolog/blob/master/src/Monolog/Handler/SyslogHandler.php) when present.

[2015-11-09 22:36] JustinBeckwith commented on #9
That's the App Engine v1 API :/  App Engine v2 writes log files in a JSON
format to a magic path on disk.  There's a fluentd agent that picks up the
log entries and shuffles them over to cloud logging.

There are a few options brewing here:

   - Use monolog + a veneer that writes straight to cloud logging
   - Use monolog + fluentd (https://github.com/nrk/monolog-fluent)
   - Use monolog + syslog

[2015-11-12 01:32] #8 closed

[2015-11-16 15:19] dwsupplee commented on #3
I spent a little more time doing some research on this one and narrowed it down to two options. If anyone has suggestions for more, please share!

[phpDocumentor](http://www.phpdoc.org/) - The go-to standard over the years for auto generating docs and has gone over a pretty big overhaul in the last few years. There are many maintainers, frequent updates, and they are working to help create a [PSR

[2015-11-16 16:25] tmatsuo commented on #3
JFYI Google App Engine documentation uses phpDocumentor:
https://cloud.google.com/appengine/docs/php/refdocs/

[2015-11-16 18:50] bshaffer commented on #3
++phpdocumentor because of AppEngine

[2015-11-16 19:49] JustinBeckwith commented on #3
PHPDoc works for me

[2015-12-03 16:04] dwsupplee commented on #2
https://github.com/google/google-auth-library-php/pull/84 helps get us on track with this

[2015-12-03 17:17] dwsupplee commented on #3
We would like to build the project with inline examples and hash documentation so we can parse the code out to match our docs found [here](http://googlecloudplatform.github.io/gcloud-node/#/docs/v0.25.1?method=gcloud).

I would like to propose the following to fulfill these needs. The hash documentation is based on the [PSR-5 PHPDoc standard](https://github.com/phpDocumentor/phpDocumentor2/blob/re

[2015-12-03 20:53] bshaffer commented on #3
This looks great! Although it may need to be "@param string[] $config",
according to their example.

where the psr is concerned, I'm not a fan of the introduction of the term
"hash" into the Php lexicon for what has previously been called array :-/
On Thu, Dec 3, 2015 at 9:17 AM David Supplee <notifications@github.com>
wrote:

[2015-12-03 21:09] dwsupplee commented on #3
I'm wondering if that's a typo in the example, according to [this](http://www.phpdoc.org/docs/latest/guides/types.html#arrays) you would only use that notation when you expect every element to be a string. The first element is boolean :confounded:.

[2015-12-03 21:54] bshaffer commented on #3
ok cool, I agree

[2015-12-07 17:21] dwsupplee commented on #1
https://github.com/google/google-auth-library-php/pull/85

We will be running with guzzle and allow the ability to override the transport layer through a callable, going to go ahead and close this one.

[2015-12-07 17:21] #1 closed

[2015-12-07 17:22] dwsupplee commented on #6
@jgeewax Anything I can do to help get the CLA bot up and running?

[2015-12-07 18:02] dwsupplee opened #11 "Storage API"
My focus this week will be the Storage API. Looking through our various gcloud-* projects I see a mixture of [wrapping](https://github.com/GoogleCloudPlatform/gcloud-dotnet)/[rolling new](https://github.com/GoogleCloudPlatform/gcloud-node). Do we have any set guidelines which help set a precedence for this decision?

Before I get too deep I'd love to get some feedback/thoughts on what the best app

[2015-12-07 18:37] dwsupplee commented on #11
One issue I could see with wrapping [google-api-php-client](https://github.com/google/google-api-php-client) is that I believe it requires updates to match [https://github.com/google/google-auth-library-php/pull/85](https://github.com/google/google-auth-library-php/pull/85).

[2015-12-07 18:40] callmehiphop commented on #11
Might be wrong, but I don't think it's very common practice among the gcloud-* to wrap clients. In my opinion the flexibility alone is worth rolling your own.

[2015-12-07 18:56] broady commented on #11
The go libraries wrap the generated libraries, where possible/where it
makes sense to.
On Dec 7, 2015 10:40 AM, "Dave Gramlich" <notifications@github.com> wrote:

[2015-12-07 18:59] bshaffer commented on #11
The real important feature of google-api-php-client is the method [`authorize`](https://github.com/google/google-api-php-client/blob/master/src/Google/Client.php#L328), which goes through a decision tree to refresh tokens / use application default credentials depending on the user's configuration. It may be possible to port this functionality into the auth client library.

Some other important off

[2015-12-08 18:51] bshaffer commented on #6
done! see #13

[2015-12-08 18:51] #6 closed

[2016-01-04 15:03] dwsupplee commented on #2
The changes were merged into master, closing this out.

[2016-01-04 15:03] #2 closed

[2016-01-11 16:37] dwsupplee commented on #11
Hey all!

Any thoughts/feedback on the concepts/design decisions are warmly welcomed :). There should be a pull request up pretty soon for more in depth review.

Relationships
=============
The general idea is that the relationship between the top level storage client, buckets, and files (objects) is managed for the user. It will still be possible to interact with these classes individually if one

[2016-01-11 18:42] stephenplusplus commented on #11
Awesome work! I think it looks really great.

For the parameters section, are those options custom to your libray? If a user wanted to pass exactly what the api expects, is that possible?

[2016-01-11 18:54] dwsupplee commented on #11
Thanks!

Right now the thought is that options could be specific to the library (such as 'resumable' => true) and also any options exposed by the api.

So to answer your question, yes! :)

You could do something like the following:

[code]

The 'JsonHandler' class will be responsible for maintaining a mapping of the passed in parameters to build out the proper http request.

[2016-01-19 00:53] dwsupplee commented on #11
I've pushed up some of the work for the storage client to help get an idea of the direction I'm taking, any feedback would be greatly appreciated!

https://github.com/GoogleCloudPlatform/gcloud-php/tree/wip-introduce-storage

[2016-02-10 23:57] #11 closed

[2016-02-11 00:03] dwsupplee opened #15 "Script to build service definition files"
A [service definition](https://github.com/GoogleCloudPlatform/gcloud-php/blob/master/src/Storage/Connection/ServiceDefinition/storage-v1.json) houses the rules for RESTful interactions within the storage client. A script should be published to generate this automatically using the [api discovery service](https://developers.google.com/discovery/).

[2016-02-11 00:07] dwsupplee commented on #3
Closing this out as we're running with phpdocumentor2!

[2016-02-11 00:07] #3 closed

[2016-02-11 00:08] dwsupplee opened #16 "Resumable upload"
A resumable upload class should be built based on the rules found [here](https://cloud.google.com/storage/docs/json_api/v1/how-tos/upload#resumable).

[2016-02-11 12:22] jgeewax opened #17 "Can we use php-gds as the official Datastore library?"
See https://github.com/tomwalder/php-gds

Is this something we could discuss with the owner about merging into gcloud-php and being "the official library" ?

[2016-02-11 12:23] jgeewax commented on #17
/cc @tomwalder :)

[2016-02-11 12:52] tomwalder commented on #17
Hello.

[2016-02-11 14:39] dwsupplee commented on #17
Hey Tom! :wave: Hope all is well and thank you for the contributions!

The library looks solid and I really appreciate your usage of design patterns, especially the implementation of the gateway. Usage is straight forward and the examples are very helpful.

I see that you provide options to wrap the [appengine sdk](https://github.com/GoogleCloudPlatform/appengine-php-sdk) and the [google api clien

[2016-02-11 14:51] tomwalder commented on #17
Thanks for the vote of confidence!

The library was born out of my need to use Datastore in production. Initially, there was only support for the JSON API.

I've worked with @sjlangley to get the native Protocol Buffer stuff up to scratch. The performance benefits are clear.

I have retained support for the JSON API, but the features are not a 100% match, which can cause some problems maintaining

[2016-02-11 15:48] dwsupplee commented on #17
Could those interfaces be generated using [Protobuf-PHP](https://github.com/drslump/Protobuf-PHP#generating-php-classes)? Also, we have no guarantee someone would run the code on app engine. Do you know if the appengine-php-sdk is intended for use outside of that environment?

[2016-02-11 17:03] JustinBeckwith commented on #17
making sure @tmatsuo and @bshaffer see this

[2016-02-11 18:03] tomwalder commented on #17
The app engine ask makes use of a compiled PHP module for the final
make_call() RPC method.

I'm not familiar with the inner workings of this, but expected it to be
local-network-sensitive.

There is a RemoteAPI component, but not really familiar with how that might
factor in...

On Thursday, 11 February 2016, David Supplee <notifications@github.com>
wrote:

--
*Tom Walder*, CTO
*We're hiring.* Fi

[2016-02-11 20:56] dwsupplee commented on #16
The real important feature of google-api-php-client is the method authorize, which goes through a decision tree to refresh tokens / use application default credentials depending on the user's configuration. It may be possible to port this functionality into the auth client library.

I'm currently working on a class that will handle resumable uploads and could really use some input.

I see a few op

[2016-02-12 08:42] tomwalder commented on #17
https://github.com/GoogleCloudPlatform/php-docker/issues/54

[2016-02-17 00:09] bshaffer commented on #16
+1 for Option 1!

[2016-02-17 00:25] tmatsuo commented on #16
+1 for 1 too

[2016-02-17 01:24] stephenplusplus commented on #16
Not that I was cc'd, but +1 for 3 :)

I did this with [gcs-resumable-upload](https://www.npmjs.com/package/gcs-resumable-upload), which is being used by 2 external projects.

[2016-02-17 04:09] bshaffer commented on #16
3 is also ok! It could be implemented as a Guzzle Middleware.

[2016-02-17 05:03] tmatsuo commented on #16
3 works for me too.

[2016-03-05 20:20] dwsupplee commented on #16
Hey all, thanks for the thoughts. :)

Just a heads up that I have been running with option 1, but am interested in looking further into 3 in the future.

[2016-03-09 19:13] mcrumm opened #19 "Undefined variable: credentials in src/HttpRequestWrapper.php:113"
Successive calls to `HttpRequestWrapper::signRequest()` fail after the first, due to an attempt to check the credentials expiry value against a non-existent `$credentials` variable in the method scope.

[2016-03-09 19:24] dwsupplee commented on #19
:thumbsup: Thanks for the catch @mcrumm! I'm actually in the process of working on a PR right now that addresses this along with some other refactorings and additional test coverage. I'll go ahead and merge in, but expect more changes in the coming days.

[2016-03-09 21:26] #19 closed

[2016-03-18 00:06] mcrumm commented on #9
Is this possible on Container Engine, currently?  I've been experimenting with monolog-fluentd (https://github.com/nrk/monolog-fluent), but realized after the fact that I have no way to talk to fluentd directly.

Is there a "magic path" that the fluentd agent will check on a Container Engine instance?

[2016-03-18 21:52] bshaffer opened #22 "Namespace to "Google\Cloud""
Sorry to go back on this, but after a long discussion, we have decided to go with `Google\Cloud` for the namesplace, and the term `gcloud` should be used/referenced as little as possible (i.e. the reponame and CLI, and ideally nothing else).

This is not pressing, but should be done before we cut a release.

[2016-03-18 22:13] dwsupplee commented on #22
That's no problem!

What are your thoughts on the docs site? It has some `gcloud` branding on it currently. Would you like to keep consistency there or would you see something separate being more appropriate?

I'd be interested to hear @jgeewax 's thoughts on this too :).

[2016-03-20 11:46] jgeewax commented on #22
Hang tight real quick on this -- we have an e-mail thread going around internally (I can't share publicly just yet, sorry about that).

[2016-03-21 17:49] JustinBeckwith opened #23 "Support GCS stream wrapper"
We are working on getting WordPress to work in Docker.  @tmatsuo has a pretty sweet setup here using gs:// paths:
https://github.com/GoogleCloudPlatform/php-docs-samples/blob/master/managed_vms/wordpress/README.md

This is supported in the App Engine PHP SDK, but we'd like to bring support over to the veneer:
https://github.com/GoogleCloudPlatform/appengine-php-sdk/tree/725347f9e9321fc6fe839e58759

[2016-03-21 19:33] dwsupplee commented on #23
I would absolutely love add support for this!

[2016-03-22 15:15] jgeewax commented on #22
OK -- as you were :)

Since PHP lends itself to a hierarchical package path, I think we all agree that Google\Cloud is the right namespace. Let's chop references to Gcloud in the docs, but it's fine to leave the repository name as is.

[2016-03-29 01:46] dwsupplee opened #26 "Release to packagist"
:cry:
<img width="576" alt="screen shot 2016-03-28 at 9 41 37 pm" src="https://cloud.githubusercontent.com/assets/2079879/14095415/0eb0bd8c-f52e-11e5-872e-e952949d5c22.png">

/cc @tmatsuo @bshaffer @JustinBeckwith @jgeewax

Would anyone be able to help get me get this set up?

[2016-03-29 01:47] dwsupplee commented on #16
closed by https://github.com/GoogleCloudPlatform/gcloud-php/pull/24

[2016-03-29 01:47] #16 closed

[2016-03-29 01:48] dwsupplee commented on #22
closed by https://github.com/GoogleCloudPlatform/gcloud-php/pull/24

[2016-03-29 01:48] #22 closed

[2016-03-29 13:52] jgeewax commented on #26
Once we get this sorted out -- can we make sure that deploying new packages is only done by Travis ?

[2016-03-29 15:16] bshaffer commented on #26
I'm pto today but I tried...

On Tue, Mar 29, 2016 at 9:52 AM JJ Geewax <notifications@github.com> wrote:

[2016-03-29 17:31] dwsupplee commented on #26
Yes, I can get a hook set up that should take care of that for us - https://packagist.org/about#how-to-update-packages

[2016-03-29 23:48] bshaffer commented on #26
[done](https://packagist.org/packages/google/cloud)

[2016-03-30 13:35] dwsupplee commented on #26
Awesome, thanks @bshaffer

[2016-03-30 13:35] #26 closed

[2016-04-02 02:17] tmatsuo commented on #9
Combined solutions sounds great, but I don't know the concrete specs for those.

At least on App Engine flexible environment, I know what to do. I will try to add Logging handlers for App Engine flexible environment first. We can revisit the handlers to support other platforms later.

SG?

[2016-04-02 04:15] JustinBeckwith commented on #9
Yup, that's a good first step.  Are you building a new package, or just using gcloud-php?

[2016-04-02 04:52] tmatsuo commented on #9
I'm thinking a sub namespace `Google\Cloud\Logger` or something in this repo.

The code looks like:
[code]

The downside of this is gcloud-php will have a dependency for monolog/monolog.

I'm fine with creating another repo though.

What do you guys think?

[2016-04-03 01:01] #9 closed

[2016-04-03 19:14] dwsupplee opened #30 "BigQuery support"

[2016-04-03 19:23] dwsupplee opened #31 "Asynchronous request support"
Using this issue as a place to house research and share ideas as to how we can implement async request support.

[2016-04-03 23:45] dwsupplee opened #32 "Detect projectId when possible if not explicitly provided"

[2016-04-03 23:49] stephenplusplus commented on #32
Related: https://github.com/GoogleCloudPlatform/gcloud-common-private/issues/17

[2016-04-04 12:11] cedricziel opened #33 "Streamline Metadata Reader"
I propose to:

* formalize `StreamReader` into some kind of `MetadataReaderInterface` to allow injecting shinier mocks
  and custom implementations (L1 caching for example) through the setter on `Metadata`
* add an accessor and mutator to `StreamReader` for the resource `context` (ofc to the interface as well)

That would be great. If you're interested, I'd go ahead and create some of the above.

[2016-04-04 14:20] dwsupplee commented on #33
These are some really great thoughts, before deciding on anything I'd love to get your thoughts on the following:

`StreamReader` was added to the library before we decided on a HTTP library, since we are now using guzzle as the default transport what do you think about replacing the `StreamReader` with a call handled  by the [RequestWrapper](https://github.com/GoogleCloudPlatform/gcloud-php/blob/

[2016-04-05 09:27] cedricziel commented on #33
I have no objections, thx.

[2016-04-05 09:27] #33 closed

[2016-04-06 06:51] tomwalder commented on #17
I'm planning support for the v1beta3 API now...

[2016-04-17 17:13] samkelly opened #34 "Files remain in blobstore after uploading to cloud storage"
I have a PHP-based GAE app that takes file uploads, and uses the special app engine handled upload URLs to have users upload files directly to google cloud storage engine. This works great, but I just noticed that for some reason every file that has ever been uploaded also shows up in Blobstore. This is true even of files that I have already deleted from the storage bucket in question. Furthermore

[2016-04-17 17:15] samkelly commented on #34
FYI I actually switched to gcloud-ruby a while ago, so the PHP GAE version of this app isn't even live anymore, yet the files still remain (and are undeletable).

[2016-04-17 17:59] JustinBeckwith commented on #34
@sjlangley @marslangoog any ideas here?

[2016-04-17 18:01] samkelly commented on #34
According to the documentation, these files are automatically deleted after they are renamed/moved into cloud storage, or if they are not named/moved after 30 minutes, if I remember correctly (but clearly this doesn't happen).

[2016-04-17 22:36] sjlangley commented on #34
The files are not in blobstore - these are blobinfo records that point to the files in GCS. You can safely delete these records from the datastore viewer in the admin console if you don't need them,

[2016-04-17 22:39] samkelly commented on #34
Oh gotcha that's why the column headers are black instead of blue... thanks!!

[2016-04-17 22:39] #34 closed

[2016-04-20 13:24] ivanjaros commented on #23
+1

[2016-04-26 21:58] tmatsuo opened #37 "[Discussion] Should cloud test utilities be in this repo?"
I'm thinking to upload our testing libraries to packagist. I'm thinking to have a namespace `Google/Cloud/TestUtils` or something.

The library is now in one of our repo:
https://github.com/GoogleCloudPlatform/php-docs-samples/tree/master/testing

[`GaeApp.php`](https://github.com/GoogleCloudPlatform/php-docs-samples/blob/master/testing/GaeApp.php) represents App Engine application, you can do som

[2016-04-27 19:45] tmatsuo commented on #37
@jgeewax WDYT?

This is a testing library that allows you to easily write e2e tests for your App Engine application.

[2016-04-28 14:36] dwsupplee commented on #37
Hey @tmatsuo!

I see the benefit of having the code live here being that developers will be able to easily find and use the code when they need it. On the downside, it is only helpful to a subset of users who may need the library (those running their code on app engine).

My initial reaction is to place this code in a separate repository - but only as long as we make it easy to find. We could make

[2016-04-28 17:58] tmatsuo commented on #37
Yeah that's my thought too. Also the test utility is almost always in the dev dependency. I think we should have separate packagist entries.

My current plan is here:

Repo: `GoogleCloudPlatform/php-testutils`
Namespace: `Google/Cloud/TestUtils`
Packagist: `google/cloud-testutils`

Sounds good? Our namespaces share the base part, so you won't be able to have sub directory `TestUtils` in the future

[2016-04-28 18:01] dwsupplee commented on #37
Sounds like a solid plan to me. 👍

[2016-04-28 18:04] jgeewax commented on #37
That sounds like a good plan. Curious about the repo name... Is that following any of the patterns we have today ? Will we have test utils for other languages ? Would it make sense to swap the order ? (testutils-php)?

No objections either way, just raising the idea.

[2016-04-28 18:05] jgeewax commented on #37
Also, can we put .gitignore or something in the tests to make sure that no one accidentally adds a directory called that ?

[2016-04-28 20:27] tmatsuo commented on #37
@jgeewax .gitignore, That's a good idea :)

[2016-04-28 22:21] bshaffer commented on #37
Gonna weigh in here -

I don't like the idea of us creating an individual package / repository for a single testing tool. What is the advantage of doing this? It seems like we are throwing an additional ball in the air to juggle.

These testing tools are specific to google cloud, as is this library. They aren't specific to AppEngine, since "testutils" is generic and would eventually encompass tool

[2016-04-28 22:27] tmatsuo commented on #37
You can do like:

composer.json
[code]
The test utilities are not needed for all the users of `gcloud-php`.

[2016-04-28 23:03] bshaffer commented on #37
@tmatsuo that's true, but that seems like more an issue with composer not allowing multiple packages in a repo than a reason for us to split it out...

[2016-04-28 23:08] tmatsuo commented on #37
Yes, that's one issue with Composer, but that's not a good reason to add unnecessary files to this package. What's your concern to have another repo? Maintenance burden? Something else?

[2016-05-03 20:04] tmatsuo commented on #37
Ok, we will likely have another repo. Thanks for the discussion.

[2016-05-03 20:04] #37 closed

[2016-05-04 04:33] tmatsuo commented on #23
The README.md is moved to:
https://github.com/GoogleCloudPlatform/php-docs-samples/blob/master/appengine/wordpress/README.md

[2016-05-08 20:05] dwsupplee commented on #17
@tomwalder

Let's see if we can get to a place where our plans can align here :). Before we could move forward with merging anything in there are some items we need to address:

- Support for the REST API should not happen by wrapping the [google-api-php-client](github.com/google/google-api-php-client). We would need to remove this dependency, and ideally follow a pattern that matches what we are

[2016-05-09 17:56] #30 closed

[2016-05-13 07:43] tomwalder commented on #17
Hi there.

Happy to chat through this. All sounds pretty workable.

I'm in the UK, on BST at the moment - let me know when might be a good time!

Tom

[2016-05-13 19:01] dwsupplee commented on #17
Great! :)

Any day Tuesday-Thursday and preferably in  the 9am to 3pm EST range would be good. Shoot me an email @ dwsupplee@gmail.com and we can iron out the rest of the details.

[2016-05-16 16:35] dwsupplee commented on #17
/cc @tomwalder

[2016-05-27 01:02] bshaffer commented on #31
Async has been very difficult to implement in pubsub. I was able to implement it with the following steps:

1. Creating a [Connection subclass](https://github.com/GoogleCloudPlatform/getting-started-php/blob/add-pubsub-wip/src/PubSub/AsyncConnection.php) to override the `httpHandler`, change the return value of `pull`, and add the `CurlHandlerMulti` handler to Guzzle.
2. Setting the [pubsub `$conn

[2016-05-27 13:36] jdpedrie commented on #31
We've been talking about your last suggestion there as our likely path. The Public API would expand quite a bit, essentially offering an async version of each method. For instance, `Topic::create()` would be paired with `Topic::createAsync()`. Under the hood, the synchronous methods would use the async method, and resolve the promise before returning a result. The async method would, as you sugges

[2016-05-27 19:00] bshaffer commented on #31
I'm not a huge fan of adding an `async` method for every function, but I can't think of a better way to do this, other than using the `__call` magic method.

[2016-06-07 13:08] #32 closed

[2016-06-08 16:20] dwsupplee commented on #31
Put together a few thoughts on this :)

##### __call vs hardcoding synchronous and asynchronous methods
If our synchronous methods are simply going to wrap the async calls with a `->wait()` call, I'm a big fan of using __call to reduce the boilerplate we would need to maintain.

I could picture something roughly like [this](https://gist.github.com/dwsupplee/9940685ce26c2f9907c7c9204ab1e575#file-st

[2016-06-11 03:30] JustinBeckwith opened #63 "Add support for the App Engine Admin API"
We have an Admin API (service management) for App Engine here:
https://cloud.google.com/appengine/docs/admin-api/reference/rest/

It's a pretty basic CRUD / REST style API, but it would be great to have wrappers that make it easier to use.

[2016-06-13 09:36] eldhoseelias opened #64 "Downloading object from google storage buckets"
How we can download a object from bucktes.
Suppose my bucket is bucket1 and contains many objects(folders) with in it.
bucket
|---------object1
| &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; |--------folder1
| &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; |--------folder2
|
|---------object2

I want to download object 1 in zip format..how we can done it with php..?

[2016-06-13 12:03] dwsupplee commented on #64
Hey @eldhoseelias :), after installing the library through composer the following should do the trick.

[code]

Let me know how that works for you.

[2016-06-13 15:24] dwsupplee commented on #64
@eldhoseelias I made the assumption the objects you were trying to download were already in zip format. Just to cover all the bases, if you were asking if the objects could be downloaded then zipped after the fact our library doesn't handle that currently.

It shouldn't be too hard to implement this yourself, however - a few resources worth checking out:
https://github.com/alchemy-fr/Zippy
http://

[2016-06-14 11:25] eldhoseelias commented on #64
is it possible to run a gsutil commands in php ?

[2016-06-14 13:51] dwsupplee commented on #64
Yes, it is possible. Take a look at the [System program execution](http://php.net/exec) section of the PHP docs. Namely [exec](http://php.net/manual/en/function.exec.php), [shell-exec](http://php.net/manual/en/function.shell-exec.php), and [system](http://php.net/manual/en/function.system.php).

By zip did you mean gzip? If so, it is possible to prevent the library from automatically decompressing

[2016-06-14 14:22] eldhoseelias commented on #64
Can you help me sir..?
I don't get the concept of composer and google cloud library files
including in my project..

require 'vendor/autoload.php';

use Google\Cloud\ServiceBuilder;

$builder = new ServiceBuilder();
$storage = $builder->storage();
$object = $storage->bucket('buckat')->object('object1');
$object->downloadToFile('/Users/dave/Desktop/' . $object->name());

You shared this program in

[2016-06-14 14:43] dwsupplee commented on #64
I'd be happy to.

1. Instead of downloading directly from github, check out the composer [getting started guide](https://getcomposer.org/doc/00-intro.md). This is the recommended way of including this library in your project.
2. Add a composer.json to the root of your project and require this library. Find more information [here](https://getcomposer.org/doc/01-basic-usage.md#composer-json-project-

[2016-06-15 11:16] eldhoseelias commented on #64
First of all thank you so much.
Let's explain my requirements..

I have a google cloud storage.
And I created a bucket namely
'MyBucket'.
Within that bucket I created a folder namely 'files'.
Within files folder I created 3 folder namely js,CSS,fonts.
With in theses 3 folders I added some files.

Now I want to download my ' files' folder with all sub folders by using php
programming language.

I t

[2016-06-15 14:58] jdpedrie commented on #64
* Create a folder called `cloud-storage-download`. Download [`composer.phar`](https://getcomposer.org/composer.phar) and place it in this directory.
* Navigate to your `cloud-storage-download` folder from the command line.
* Run the command `php composer.phar init` and go through the interactive prompts. When you come to the question `Would you like to define your dependencies (require) interactiv

[2016-06-15 15:09] jdpedrie commented on #64
You may find help on the Google Cloud Platform Slack community as well: https://gcp-slack.appspot.com/

[2016-06-19 09:28] eldhoseelias commented on #64
Hi,
In windows cmd.
When we type php composer.phar init
It will ask some details.
Like package name,description, author,minimum stability, package
type,license.
Like that ..
Pls help me..
On Jun 15, 2016 8:39 PM, "John Dennis Pedrie" <notifications@github.com>
wrote:

[2016-06-19 13:42] jdpedrie commented on #64
Please refer to the composer schram documentation for help with what each property describes. https://getcomposer.org/doc/04-schema.md

Sent from iPhone

On Sun, Jun 19, 2016 at 5:28 AM -0400, "eldhoseelias" <notifications@github.com> wrote:

Hi,

In windows cmd.

When we type php composer.phar init

It will ask some details.

Like package name,description, author,minimum stability, package

type,

[2016-06-19 13:46] jdpedrie commented on #64
Please refer to the [composer schema documentation](https://getcomposer.org/doc/04-schema.md) for a description of each property.

[2016-06-20 03:54] eldhoseelias commented on #64
Thanks jhon....its downloaded...but i have another doubt...how we can set
authentication parameter...where..?which files...?
Can you help me?

On Sun, Jun 19, 2016 at 7:16 PM, John Dennis Pedrie <
notifications@github.com> wrote:

[2016-06-20 03:59] jdpedrie commented on #64
All the hard work of authenticating is handled by the library. If you're running on App Engine or Compute Engine, you don't need to do anything special. If you're running elsewhere, you will need to provide a keyfile, like in this example:

[code]

More complete information on the options available in ServiceBuilder are available in our [documentation site](https://googlecloudplatform.github.io/gc

[2016-06-20 04:10] eldhoseelias commented on #64
i wrote the above statements in index.php and run it..i got few errors
Fatal error: Uncaught exception 'InvalidArgumentException' with message 'A
projectId is required.' in
C:\wamp\www\cloud-download\vendor\google\cloud\src\Storage\StorageClient.php
on line *78*
( ! ) InvalidArgumentException: A projectId is required. in
C:\wamp\www\cloud-download\vendor\google\cloud\src\Storage\StorageClient.php

[2016-06-20 12:56] dwsupplee commented on #64
In the service builder example add in an extra parameter to the configuration array, `projectId` with the value being the name of the project you created to house your buckets in.

[2016-06-20 17:05] dwsupplee opened #65 "gRPC - Fresh tokens being negotiated for every call in the same script"
https://github.com/GoogleCloudPlatform/gcloud-php/pull/62#issuecomment-225925744

Let's investigate if the issue is something we can address in our layer or if we need to find a fix in the [https://github.com/grpc/grpc](https://github.com/grpc/grpc) module.

[2016-06-20 17:07] dwsupplee opened #66 "gRPC - Objects are not deserializing properly"
https://github.com/GoogleCloudPlatform/gcloud-php/pull/62#issuecomment-225925744

We should be able to move past this blocker when the new library to replace [https://github.com/drslump/Protobuf-PHP](https://github.com/drslump/Protobuf-PHP) is made available.

[2016-06-20 17:09] dwsupplee opened #67 "gRPC - Keep the versions of auth in sync across libraries"
https://github.com/GoogleCloudPlatform/gcloud-php/pull/62#issuecomment-225925744

At the very least lets make sure we are all on the same version as there are breaking changes in 0.9.

[2016-06-21 17:03] BrandonY opened #69 "Support GCS Signed URLs"
[gcloud-java](https://github.com/GoogleCloudPlatform/gcloud-java/blob/e921bbe3a44c90039574245f4a4dce5c4fdbd669/gcloud-java-storage/src/main/java/com/google/cloud/storage/Storage.java#L1542) and [gcloud-python](https://github.com/GoogleCloudPlatform/gcloud-python/blob/6b460452c7a26927f5557de03764ead98875cae5/gcloud/credentials.py#L137) have support for GCS Signed URLs. It'd be nice to see that in g

[2016-06-21 18:23] dwsupplee commented on #69
Thanks for the report. Expect to see support for this soon. :)

[2016-06-22 21:44] dwsupplee commented on #64
@eldhoseelias How are things going, any luck so far?

[2016-06-23 06:19] eldhoseelias commented on #64
its not downloaded yet....!

On Thu, Jun 23, 2016 at 3:15 AM, David Supplee <notifications@github.com>
wrote:

[2016-06-28 15:58] jdpedrie commented on #64
Hey @eldhoseelias! Anything else we can help with? Were you able to get the issues resolved?

[2016-06-28 23:36] bshaffer opened #71 "tag v0.4"
It would be great to get a `v0.4` version tagged if the library is ready, because of the updating of `google/auth` from `v0.7` to `v0.9`, which matches `google/apiclient`

[2016-06-28 23:37] jdpedrie commented on #71
We have logging coming in the next few days. I'd love to get that into 0.4 if it's not super urgent! :)

[2016-06-28 23:41] bshaffer commented on #71
works for me 👍

[2016-06-29 02:01] #71 closed

[2016-06-29 15:56] jdpedrie opened #72 "Add support for @method in DocGenerator and docs for magic method calls"

[2016-07-05 13:31] BernardVong opened #73 "Storage > Automatically check the file public checkbox"
Hello,

After use `$bucket->upload($content, $options);`
I want to automatically set it to public as if I upload a file on Google Cloud Storage.

![share checkbox](https://cloud.githubusercontent.com/assets/9079912/16586219/f9d75e40-42c4-11e6-9fbd-0df10cbb2d15.png)
( «  share to public »  on Google Cloud Storage UI )

It seems you don’t develop this functionality yet, did you think about it ?

[2016-07-05 13:41] dwsupplee commented on #73
I believe we do have this capability, let me know how this works for you :)

[code]

[2016-07-05 14:08] BernardVong commented on #73
I have tested it before : `'predefinedAcl' => 'publicRead'` hide the checkbox on Google Cloud Storage UI and I thought the old public URL was removed too.

But after your answer I test it again, and the link still up. Thank you for your fast reactivity !
For a 0.3.0 it's a great and clear work :)

[2016-07-05 14:08] #73 closed

[2016-07-06 15:48] jdpedrie commented on #71
@bshaffer v0.4.0 is now available!

[2016-07-06 15:49] jdpedrie commented on #64
I'm going to go ahead and close this for now. Let us know if you have any further issues.

[2016-07-06 15:49] #64 closed

[2016-07-06 20:35] bshaffer commented on #31
Just adding to this, the Logging API will not be useful for general logging w/o async support.

As to the "rough idea", I think this is a great way to go, although I would prefer to avoid using `__call` and explicitly define each method. I like how, in your example, `connection->call` returns promises across the board. This makes it easier to make async calls not explicitly defined in the wrapper

[2016-07-06 20:36] bshaffer commented on #71
woot! thanks.

On Wed, Jul 6, 2016 at 8:48 AM John Dennis Pedrie <notifications@github.com>
wrote:

[2016-07-07 02:33] eldhoseelias commented on #64
Yup,
It shows some json key error
On Jul 6, 2016 9:19 PM, "John Dennis Pedrie" <notifications@github.com>
wrote:

[2016-07-08 14:21] dwsupplee commented on #64
@eldhoseelias Could you share some more details please?

[2016-07-12 11:17] eldhoseelias commented on #64
*Fatal error*: Uncaught exception
'Google\Cloud\Exception\NotFoundException' with message 'Client error: `GET
https://storage.googleapis.com/cloud-1339.appspot.com/mobile_asset?alt=media`
resulted in a `404 Not Found` response: <?xml version='1.0'
encoding='UTF-8'?><Error><Code>NoSuchKey</Code><Message>The specified key
does not exist.</Message>< (truncated...) ' in
/home/u204891510/public_html/ve

[2016-07-18 15:31] dwsupplee commented on #64
@eldhoseelias - sorry you are still having issues.

Could you provide the name of the object you are trying to download and the code you used to fetch it? I will take a look and see if there is anything I can do to help.

[2016-07-18 15:35] dwsupplee commented on #66
Closing this as we are able to move past the problem thanks to https://github.com/stanley-cheung/Protobuf-PHP being published to packagist.

[2016-07-18 15:35] #66 closed

[2016-07-25 16:50] lrodriguezcabrales opened #77 "How use gcloud-php in symfony2"
How use gcloud-php in symfony2, requiere is impossible

[2016-07-25 17:04] jdpedrie commented on #77
Hello,

Since we do not currently distribute gcloud-php as a standalone project with its dependencies, you will need to use Composer locally to install the gcloud-php dependencies, but this can be isolated from the rest of your project.

* [Download the latest release as a .zip or .tar.gz](https://github.com/GoogleCloudPlatform/gcloud-php/releases) and decompress it in your project under a folder

[2016-07-26 18:45] #72 closed

[2016-07-29 16:04] dwsupplee opened #80 "Discover a standard for documenting optional/required parameters in an associative array"

[2016-07-31 16:26] adhiravishankar opened #81 "Guzzle PSR7 Incompatibilities"
Can you upgrade the guzzlehttp/psr7 to the 1.3.* versions rather than keeping it on the 1.2? It causes incompabilities with many libraries that have already upgraded to those. I'm not sure if there are breaking incompatibilities with the 1.3 version but it would be nice to at least have the possibility of 1.3 if it does require it. Thanks!

[2016-07-31 16:42] cedricziel commented on #81
I would advocate for `^1.2`.

[2016-07-31 17:01] dwsupplee commented on #81
Thanks for bringing this to our attention. I've relaxed the requirements per @cedricziel's suggestion.

[2016-07-31 17:03] #81 closed

[2016-08-01 10:36] jgeewax opened #83 "BigQuery: How do I stream insert rows?"
Looks like I can load a CSV, or load from GCS, but how do I do a single row insert? Is there a way to pass in one row at a time, kind of like firing an event?

For comparison, gcloud-node has an "import" versus "insert" (https://googlecloudplatform.github.io/gcloud-node/#/docs/v0.37.0/bigquery/table?method=insert) where insert is the "here's some rows" method, and import is the "here's a file or p

[2016-08-01 11:45] dwsupplee commented on #83
Currently there is not a way to achieve do this. Taking a quick look at the `insertAll` documentation, it looks like something we can make sure to get into our next release :).

[2016-08-01 11:57] jgeewax commented on #83
OK Great. This one seems important.

[2016-08-01 17:54] dwsupplee commented on #77
@lrodriguezcabrales Did this help resolve your issue?

[2016-08-05 18:40] dwsupplee commented on #65
Closed by:

https://github.com/google/google-auth-library-php/pull/123
https://github.com/googleapis/gax-php/pull/34

[2016-08-05 18:40] #65 closed

[2016-08-05 20:35] bshaffer opened #89 "Make an ExponentialBackoff for Jobs"
What if we made a `Google\Cloud\ExponentialBackoff` for job completion, i.e.:

[code]

[2016-08-05 21:04] dwsupplee commented on #89
This sounds like a pretty sweet idea. I'll think about how we can implement it.

[2016-08-07 23:21] adhiravishankar opened #90 "InvalidArgumentException"
After the change to PSR7, Request now returns an [InvalidArgumentException] Invalid resource type: array on exists function in Object in Storage:
$exists = $bucket->object('object')->exists();

The proposed fix is on the RequestBuilder class under build is to change it from

return new Request(
            $action['httpMethod'],
            $uri,
            ['Content-Type' => 'application/json'],

[2016-08-07 23:21] #90 closed

[2016-08-07 23:22] adhiravishankar commented on #90
Sorry, I just noticed this was fixed on the latest release!

[2016-08-08 10:54] Salv0 opened #91 "cURL error 35: Encountered end of file"
I have this code:

[code]

but while calling the downloadAsString method I receive this error:

[code]

What can it be and how do I prevent this from happening?

I tried to pass some options to the method to get some debug info:
`[
'retries' => 0,
httpOptions' => [ 'debug' => $fp ]
]`

but apparently this doesn't work either.
Is there a documentation or anything about these options? The only thing

[2016-08-08 12:04] dwsupplee commented on #91
Hey @Salv0, could you please provide the version of cURL you are using?

It appears you are using `httpOptions` correctly - the only issue I could see is with the variable `$fp`. Is it possible it isn't set to true?

[code]

Apologies for the lack of documentation on these options, expect them to be covered soon. Currently, the `httpOptions` key proxies straight through to [guzzle's request option

[2016-08-08 12:19] Salv0 commented on #91
Hi @dwsupplee, thank you for your fast answer!

The version of curl is the following:
[code]

I've got the debug option to work so now I've found this:

[code]

[2016-08-08 13:51] jdpedrie commented on #91
Hey @Salv0, are you attempting to connect from behind a corporate firewall or some sort of VPN by any chance?

[2016-08-08 13:57] Salv0 commented on #91
No, no VPN or firewall @jdpedrie

Also because it works sometimes..which is really weird.
I tried to force the TSL version to 1.1 right now in the httpOptions. Let's see if it helps :)

[2016-08-08 23:27] dwsupplee commented on #77
I'm going to close this out for now. Please feel free to re-open if there is anything else we can help with.

[2016-08-08 23:27] #77 closed

[2016-08-09 08:19] Salv0 commented on #91
Unfortunately forcing the TSL version to 1.1 doesn't help.. I really don't have any other idea

[2016-08-09 13:27] dwsupplee commented on #91
I'm curious if this may be related to IPv6. [This stackover post](https://stackoverflow.com/questions/28366402/failed-to-connect-to-www-googleapis-com-port-443-network-unreachable?answertab=votes#tab-top) seems to suggest it is a possibility.

To help isolate the issue, do you run into any similar problems while running the following from the command line?

`curl storage.googleapis.com --verbose`

[2016-08-09 13:37] Salv0 commented on #91
This is what I get back:

[code]

Do I have to add the headers?

[2016-08-09 14:03] dwsupplee commented on #91
I don't believe the headers are important here. I believe you would either connect or fail to like you've been experiencing regardless.

Would you be able to run the following? I'm curious if reusing the same handler will mimic the results you are seeing through the library.

[code]

If similar errors to what you're seeing in the library crop up, could you retry the above script with the added opt

[2016-08-09 14:14] #83 closed

[2016-08-09 14:25] Salv0 commented on #91
Ok, I tried the script you posted and also tried it without reusing the connection (so open and close in the for). In both cases I haven't got any error.
(I've run it on the same prod server where the problem occurred with `php test.php`)

What I can do is actually trying directly the `CURLOPT_IPRESOLVE => CURL_IPRESOLVE_V4` in the code of one of the prod servers and see if something changes.

Is

[2016-08-09 14:39] dwsupplee commented on #91
Yes, this should work:

[code]

[2016-08-09 14:46] Salv0 commented on #91
Ok perfect, I will try.

Also, is the `retries` option that I added in the code in the first post correct? Or I have to add that to the `httpOptions` array too?

[2016-08-09 14:48] dwsupplee commented on #91
Great!

Where you had `retries` was correct 😄.

[2016-08-09 14:55] dwsupplee commented on #91
Just to cover all the bases, when you forced TSL 1.1 earlier, did you use the following?

[code]

[2016-08-09 14:58] Salv0 commented on #91
No I did the following:

[code]

cause in the [guzzle's request options](http://docs.guzzlephp.org/en/latest/request-options.html) was written `version` ..but I can change it to the CURL one that you wrote me.

[2016-08-09 21:41] ajck commented on #17
Not wanting to add noise, but as some of us are betting the farm on Google Cloud :) , just wondering if any updates on the overall official Datastore support in PHP please? (i'm using Datastore with Standard PHP AppEngine via Tom's excellent library). Many thanks.

[2016-08-09 21:52] dwsupplee commented on #17
Hey @ajck, thanks for your interest in the platform :).

We were looking forward to working with Tom on this one but the timing unfortunately didn't work out.

Support for Datastore over REST is expected to be available within the next month, with gRPC support coming soon after.

[2016-08-09 21:52] #17 closed

[2016-08-10 07:48] Salv0 commented on #91
Tried both and unfortunately still receiving the error :(

[2016-08-10 19:57] dwsupplee commented on #91
Could you please provide some more details on the environment you are using and the code surrounding the snippet you provided?

You can apply `retries => 0` like you have been doing to prevent any exponential backoff logic, but I don't think it should even be executing in this case as retry logic only applies on certain 500 response codes or rate limit issues. A ConnectException should not trigger

[2016-08-11 14:18] jdpedrie opened #99 "Link to GAX classes from docs site"
### Options:
- Use [external-class-transformer](https://www.phpdoc.org/docs/latest/references/configuration.html#transformer)
- Predict location of doc page based on class name.
- Use `@see` tag. (Existing solution for API docs)

[2016-08-15 19:31] dwsupplee commented on #91
Hey @Salv0, any luck with making progress on this one yet? Please let us know if there is anything we can do to help.

[2016-08-16 09:14] Salv0 commented on #91
Hey David, at the moment I am not at work and I will be back for the end of
the month. I will proceed with your suggestion as soon as I am back and let
you know the results!

Thank you again for the help!

[2016-08-21 00:42] kop opened #103 "Add support for "PUBSUB_EMULATOR_HOST" environment variable"
It's not possible to use `gcloud-php` with PubSub emulator because it does not respect this variable.

[2016-08-23 11:59] cedricziel opened #108 "Correct way for copying files through storage API?"
Hi there;

from what I see, the copy operation for the storage API (`storage.objects.copy` in the service definition) is not implemented [yet]. Is this by intention, or by accident?

If by intention, what would be the correct way to copy an object then?

Thx!

[2016-08-23 12:58] jdpedrie commented on #103
Fixed by #104.

[2016-08-23 12:58] #103 closed

[2016-08-23 12:59] dwsupplee commented on #108
This is something we need to implement still. I will get a PR ready with support ASAP :).

[2016-08-23 13:13] cedricziel commented on #108
Awesome! :)

[2016-08-28 20:33] adhiravishankar opened #117 "PHP7 compat with Object class"
PHP7 says that a class with the name Object is forbidden in PHP. It probably should be renamed to something else other than Object.

[2016-08-29 08:05] cedricziel opened #118 "Packagist.org not up to date?"
Packagist delivers the wrong commit hash for `dev-master` - could you check the setup for the webhook?

Thank you in advance! :)

[2016-08-29 13:05] dwsupplee commented on #118
This might have to had something to do with the renaming of the repo from `gcloud-php` to `google-cloud-php`. I just triggered a force update on packagist which appears to have bundled up the latest code. I'll keep an eye on it during our next few merges to master to see if the issue is resolved or not.

[2016-08-29 13:52] dwsupplee commented on #118
The latest merge was reflected on packagist, looks like we can close this :) Thanks for the report!

[2016-08-29 13:52] #118 closed

[2016-08-29 14:20] cedricziel commented on #118
My pleasure - thanks for the library :)

[2016-08-29 15:49] dwsupplee commented on #117
Yes, let's definitely rename it. :)

How about we use `File` instead?

[2016-08-29 15:51] jdpedrie commented on #117
I think I'd prefer `StorageObject`. It's a bit redundant, but `File` doesn't quite match the language used in the domain, and we alias `Object` to `StorageObject` all over the place already.

[2016-08-29 15:59] cedricziel commented on #117
File would also collide with directory objects

[2016-08-29 16:01] dwsupplee commented on #117
Okay, `StorageObject` works for me then

[2016-08-29 16:19] dwsupplee commented on #67
As of https://github.com/GoogleCloudPlatform/google-cloud-php/pull/97 all dependencies are on auth tag 0.10

[2016-08-29 16:19] #67 closed

[2016-08-29 18:22] dwsupplee opened #122 "Windows testing"
Let's get our tests running on windows, a good option would be https://www.appveyor.com/.

[2016-08-30 16:11] ajck commented on #17
@dwsupplee Thanks that's great to hear. Just a couple of questions please - what sort of geopoint support can we expect from the PHP Datastore APIs (i.e., I need to find coordinates within an area) and secondly, will API docs and/or example PHP code be available too?

Many thanks,
Alex

[2016-08-30 16:21] dwsupplee commented on #17
Docs and some basic usage examples will be available. @jdpedrie has been the primary on the datastore implementation and would likely be the best fit to answer your question about geopoint support :).

[2016-08-30 18:51] omaray opened #123 "Need to ensure we use lower-case gRPC header keys"
**This might be a no-op, but please double check. Filing this issue just in case.**

We need to ensure that all headers used for gRPC are written in lower-case. Please review this [Pull Request](https://github.com/GoogleCloudPlatform/gcloud-python/pull/2212) for reference of what needs to be updated.

Again, perhaps this doesn't apply to your language. Feel free to comment and then close the issue

[2016-08-30 20:20] dwsupplee commented on #123
We rely on the gRPC library to handle the setting of headers for us, it appears [they have taken this into consideration already](https://github.com/grpc/grpc/blob/master/src/php/lib/Grpc/BaseStub.php#L196) so we should be good to go :).

[2016-08-30 20:20] #123 closed

[2016-08-30 21:59] jdpedrie commented on #17
Hey @ajck. Our implementation of datastore will support geopoints. And yep, we definitely provide documentation and example code for every method.

[2016-08-30 22:06] tomwalder commented on #17
AFAIK, the v1 Datastore API does not support geo locality (near to) type queries though? Against `Geopoint` properties. Happy to be pointed in the right direction if this is not the case?

You might be able to implement some geohash stuff in the library layer I guess.

[2016-08-31 15:07] dwsupplee commented on #17
We will be supporting data access around geo point types but as far as I am aware @tomwalder is spot on in that there isn't support for location based queries in datastore yet. There are currently no plans to add this functionality to the library and other tools will currently be needed to achieve it.

It does look like support in datastore may be on the way as the [alpha release of geospatial que

[2016-08-31 16:01] tomwalder commented on #17
You can use the Search API to do geospatial stuff now (and other basic full text search)

https://cloud.google.com/appengine/training/fts_intro/

https://github.com/tomwalder/php-appengine-search

[2016-08-31 17:41] pcostell commented on #17
Nothing I can share, @dmcgrath may have more information.

[2016-09-01 12:51] adhiravishankar opened #125 "Datastore Key not being seen properly"
if (!is_string($key) && !($key instanceof Key)) {
            throw new InvalidArgumentException(
                '$key must be an instance of Key or a string'
            );
        }

This line in Operation.php, is not working because my key is the Key class but it is not recognizing that.

Thanks!

[2016-09-01 13:12] adhiravishankar commented on #125
Sorry, something was wrong with my code

[2016-09-01 13:12] #125 closed

[2016-09-01 13:41] jdpedrie commented on #125
Hey @adhiravishankar, glad you figured it out. Is there anything in the documentation that may have tripped you up, or that we could improve to help others who might run into the same issue?

[2016-09-01 17:13] adhiravishankar commented on #125
One thing in the documentation that can be confusing for first-timers, is the fact that there is no custom key name. That was tripping up my code, because I thought that the key was a custom column name called email, where it was either id or name.

[2016-09-01 19:17] adhiravishankar opened #127 "Undefined variable $key"
/**
     * Get a list of properties excluded from datastore indexes
     *
     * @param array $entityData The incoming entity data
     * @return array
     */
    public function responseToExcludeFromIndexes(array $entityData)
    {
        $excludes = [];

        foreach ($entityData as $property) {
            $type = key($property);

            if (isset($property['excludeFromIndexes']) &&

[2016-09-02 15:16] #127 closed

[2016-09-07 13:04] #117 closed

[2016-09-07 18:30] tmatsuo opened #139 "Document how to filter log entries"
When I'm trying to write sample code for the Logging API, it is not clear how to apply filters.

Here is an example, writing the log with this code:
[code]

then trying to list entries:
[code]

I'm getting the following error:
[code]

How can I filter entries by resource.type, and also with other fields?

[2016-09-07 18:44] jdpedrie commented on #139
Hey @tmatsuo,

`$options.filter` accepts a string, have you tried `'filter' => 'resource.type = gcs_bucket'` ?

You can construct complex filters as expected, i.e. `resource.type = gcs_bucket AND severity = error`.

[2016-09-07 18:45] dwsupplee commented on #139
Hey @tmatsuo!

We have an example of how to use a log filter [here](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Logging/LoggingClient.php#L290-L293).

So in your case the following should work:

[code]

[2016-09-07 18:50] tmatsuo commented on #139
Thanks! I also noticed it's a string. I missed the phpdoc example, good job :)

Maybe it's easier to use the `logName` as follows.
[code]

[2016-09-07 18:50] #139 closed

[2016-09-07 18:54] tmatsuo opened #140 "Can `Logger` have `list` (or `entries`) method?"
Since the logger knows the formatted `logName`, I think it's rather easy to implement.

It's great if we can do
[code]

[2016-09-07 21:09] bshaffer commented on #117
I want to retroactively chime in and say `StorageObject` is awesome.

[2016-09-09 01:37] #108 closed

[2016-09-09 17:29] jdpedrie opened #144 "Add 'rename' method to StorageObject"

[2016-09-09 22:32] tmatsuo opened #145 "`Google\Cloud\Exception\ServiceException` has a truncated error message"
When API returns an error, `\Google\Cloud\Exception\ServiceException` is thrown like this:

[code]

It doesn't seem there is a way to get the original full error contents so that I know the reason. If you expose the underlining `GuzzleException`, I can do it manually, but this is not the case.

[2016-09-09 22:46] cedricziel commented on #145
+1, I've had problems with swallowed exceptions as well - what do you think about rethrowing service- and/or operation specific exceptions?

[2016-09-09 23:04] dwsupplee commented on #145
The message getting truncated is definitely a frustrating issue and is something we want to look more at fixing. In regards to getting the underlying exception, I think we actually have a way to accomplish this: https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Exception/ServiceException.php#L61

`$message = (string) $exception->getServiceException()->getResponse()->getBody()

[2016-09-09 23:07] bshaffer commented on #145
It would be possible in [convertToGoogleException](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/532140eb82042d925026f7bcd44106ec80139433/src/RequestWrapper.php#L259) to parse the JSON errors and set those as the Error Message when possible:

[code]

[2016-09-09 23:12] tmatsuo commented on #145
+1 to the suggestion from @bshaffer

The original error message should be available by default. Otherwise, the layer you added is something developers need to learn, it's not helping developers.

[2016-09-09 23:13] tmatsuo commented on #145
However, the code above seems to have an infinite recursion loop?

[2016-09-09 23:14] tmatsuo commented on #145
`(string)` might be ok, but I think the body has `getContents()` method, so you can do `->getBody()->getContents()` or something

[2016-09-11 02:53] adhiravishankar opened #147 "$entity[properties] can be non-existent"
The properties array in entity can be null which can raise an exception at these lines of code with the error ErrorException: Undefined index: properties

$properties = $this->entityMapper->responseToProperties($entity['properties']);
$excludes = $this->entityMapper->responseToExcludeFromIndexes($entity['properties']);

[2016-09-11 03:53] adhiravishankar opened #149 "runQuery should have an array option"
There should be two options when running runQuery, either return the Generator as it does now, or returning an array. There are many use cases when returning an array is completely fine and necessary. One example is if all that you are doing is outputting the entities into json for an api. Another example, finding the count of a query is unnecessarily made complex by the Generator.

[2016-09-13 12:32] #145 closed

[2016-09-13 15:58] jdpedrie commented on #149
Hey @adhiravishankar.

We use Generators in cases where results can be paged or where we cannot predict the number of results in a set because of their memory benefits.

Methods often return arrays when the number of results is predictable (i.e. a datastore lookup will always have the same number of results [whether found, missing or deferred] as given keys).

Queries fall into the former camp, ho

[2016-09-13 16:52] adhiravishankar commented on #149
No, I did not know that. That should be something we add to the documentation because generators are still not well known in PHP and most ORMs don't even offer the option to return a generator.

[2016-09-13 16:54] adhiravishankar commented on #149
I think adding it to the runQuery documentation other than something like listBuckets which also uses Generators makes sense because there are some queries where you know the amount of output received, and it would give people an easier way to transition from traditional ORMs to Datastore

[2016-09-13 17:02] jdpedrie commented on #149
I agree that we should document this better and give users more help on how they can use manipulate a generator in their application. We'll work on improving this over the coming releases.

[2016-09-13 21:46] jdpedrie commented on #147
Fixed in #148.

[2016-09-13 21:46] #147 closed

[2016-09-13 21:46] #149 closed

[2016-09-14 18:27] jdpedrie commented on #91
Hey @Salv0! Wanted to see if you'd had a chance to revisit this and whether you have been able to get everything working correctly.

[2016-09-14 20:42] SurferJeffAtGoogle opened #152 "The NaturalLanguageClient ignores projectId in config"
We should remove `$projectId` from the constructor's docs:

[code]

[2016-09-14 20:48] bshaffer commented on #152
See https://github.com/GoogleCloudPlatform/php-docs-samples/pull/162 for more context

The Project ID is not passed to the `transcribe` operations, instead the project Id is inferred through the credentials.

[2016-09-14 20:50] tmatsuo commented on #152
Does all the credentials have project ids in it?

[2016-09-14 21:30] dwsupplee commented on #152
Thanks for bringing this up!

I did a little digging around and found an issue that seems related [for google-cloud-ruby](https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/706#issuecomment-220603462). The context here seems to suggest that we may eventually be able to pass a project ID along with the requests. Do we have any idea if that may become a reality, and if so would it make

[2016-09-16 12:40] #140 closed

[2016-09-16 13:42] jdpedrie commented on #80
[Old versions](http://stackoverflow.com/questions/1386913/phpdoc-standard-for-setting-default-value-of-an-optional-parameter) of PHPDoc's documentation say that optional parameters should be documented in the tag description.

I've not yet found reference to a way to document default values or denote optional parameters in a newer version of phpDocumentor. [ref](https://phpdoc.org/docs/latest/refe

[2016-09-17 14:40] samalolo opened #156 "SSL warning issue when calling pub/sub from appengine"
So I'm running the simple pub/sub test to publish a message. The calls work fine, and the message gets published, it's just the following warning error on the logs:

Unsupported SSL context options are set. The following options are present, but have been ignored: allow_self_signed, cafile

I'm on appengine standard, php55 , (billing enabled)

If I enable extension = "curl.so"  OR google_app_engin

[2016-09-17 16:25] dwsupplee commented on #156
Hey @samalolo! Thanks for the report.

The error `The following options are present, but have been ignored: allow_self_signed, cafile` seems to be a result of some custom tooling in the app engine environment.

By default we use guzzle as our transport layer, and as we can see [here](https://github.com/guzzle/guzzle/blob/master/src/Handler/StreamHandler.php#L379-L403) guzzle sets both the `cafile`

[2016-09-17 17:26] jdpedrie commented on #91
Hi @Salv0. I'm going to go ahead and close this out. If you're still having issues, just let us know and I'd be happy to reopen and continue working on sorting it out with you!

[2016-09-17 17:26] #91 closed

[2016-09-17 18:36] samalolo commented on #156
Thanks for the quick reply. So I created a new project on appengine called pubsubtester. My first run was with php.ini looking like this:

**google_app_engine.enable_functions = "php_sapi_name, php_uname"**

pub/sub call worked fine but I got that allow_self_signed error in the log.

Second time, the php.ini looked like this:

**google_app_engine.enable_functions = "php_sapi_name, php_uname"
exten

[2016-09-19 12:11] dwsupplee commented on #156
I was able to trace down the root issue of the cURL timeouts. I had been providing my service account credentials explicitly which is why the requests were not timing out for me. When not providing the credentials (which technically should be fine on app engine) you would fall into [this block of code](https://github.com/google/google-auth-library-php/blob/master/src/ApplicationDefaultCredentials.

[2016-09-19 17:08] bshaffer commented on #156
I tested this out, and was unable to duplicate the timeout. I deployed a simple app to App Engine Standard and called `GCEcredentials::onGCE()`. The function returned `false` as expected.

Could it have something to do with the `httpHandler` object you're passing into the function?

[2016-09-19 17:09] dwsupplee commented on #156
Did you make sure to use cURL? I didn't run into any issues with the stream handler.

[2016-09-19 17:50] #122 closed

[2016-09-19 18:19] bshaffer commented on #156
Yeah, I added the `php.ini` above. Looks like my script was actually dying in the middle. However, the error I'm getting is `cURL error 6: Couldn't resolve host 'pubsub.googleapis.com'`

[2016-09-19 19:21] dwsupplee commented on #156
Here is my current configuration:

**php.ini**
[code]

**composer.json**
[code]

**app.yaml**
[code]

The following script either takes a very long time to load or is timing out altogether:
[code]

The following succeeds:
[code]

RE httpHandler - I didn't run into any issues using this, however I would like to be clear I am only suggesting its use when using streams instead of curl.

I've tried a

[2016-09-19 20:21] jdpedrie commented on #156
Just chiming in to say that I am getting the same results @dwsupplee is seeing... `GCECredentials::onGce()` causes a timeout. Specifying a keyfile in the ServiceBuilder works as expected.

[2016-09-19 20:42] samalolo commented on #156
@dwsupplee same here, if I provide credentials using a service account with your suggested 'keyFilePath' method then it works with no issue. Without it, it hangs for 60 seconds.

[2016-09-21 13:36] dwsupplee commented on #80
Moving forward with `[optional]` in the description seems like the best fit for right now. I'll close this out. Thanks for taking the time to look!

[2016-09-21 13:36] #80 closed

[2016-09-26 06:20] omaray opened #159 "Update Stack Overflow link on client library ref landing page for PHP"
On the [current landing page for google-cloud-php](http://googlecloudplatform.github.io/google-cloud-php) there is a Stack Overflow icon:

![image](https://cloud.githubusercontent.com/assets/6609430/18824123/8f7ada86-8374-11e6-9807-687667b0d488.png)

[Current Result]
That icon currently points to http://stackoverflow.com/questions/tagged/gcloud-php

[Expected Result]
The icon should now point to:

[2016-09-26 13:17] jdpedrie commented on #159
Hey @omaray,

Searching for multiple tags on StackOverflow does not work if you're logged out. It drops everything but the first tag. See [here](http://meta.stackexchange.com/questions/243960/multiple-tags-search-broken-when-searching-as-anonymous-user) for more information.

Perhaps sticking to a single tag (i.e. `google-cloud-php`) would be preferable?

[2016-09-26 14:11] layoaster opened #161 "Rolling back a Datastore transaction"
I'm trying to rollback a transaction but the Transaction class doesn't have any method and instead it seems that [client-->connection](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/fb703d6ad78f64854262855433e466cb0cc4c56a/src/Datastore/Connection/ConnectionInterface.php#L49) can do it but when I call it as:

`$this->connection->rollback(['transaction' => $transaction]); `

(where` $

[2016-09-26 14:18] jdpedrie commented on #161
Hey @layoaster,

Sorry for the trouble, this appears to have been a pretty big oversight on our part. I'll have a PR open by the end of the day, and hopefully available on packagist by the end of tomorrow.

[2016-09-26 14:26] jdpedrie commented on #161
In the interim, you should be able to roll back your transaction directly in the connection. It looks like you need to include your project ID in the request, like so:

[code]

[2016-09-26 15:00] layoaster commented on #161
Thanks for the help @jdpedrie. I was just migrating from the v1beta2 to the v1 so I really needed it as fast as possible.

[2016-09-26 15:10] #161 closed

[2016-09-26 16:14] jdpedrie commented on #161
Hey @layoaster, please update to v0.9.0 and you should be good to go with `Transaction::rollback()`.

Sorry again for the inconvenience!

[2016-09-26 16:49] layoaster commented on #161
@jdpedrie thanks for fixing it that fast!

[2016-09-26 18:39] jdpedrie opened #165 "Support Emulators for Each Service"
Each service included in Google Cloud PHP should support a service emulator, if one is available.

- [ ] Datastore
- [x] PubSub

[2016-09-26 18:40] jdpedrie commented on #165
@omaray are there any other emulators besides those listed [here](https://cloud.google.com/sdk/gcloud/reference/beta/emulators/)?

[2016-09-26 21:40] tmatsuo opened #166 "We should separate composer packages"
Now the composer package "google/cloud" contains all of the service client code. This is problematic when we think about semantic versioning. For example, when we release a new version of the API foobar, e.g. foobar v2.0.0 with incompatible changes, what should we do? If we conform to the semantic versioning, the only option is to change the major version of "google/cloud". I think it's problemati

[2016-09-26 21:46] tmatsuo commented on #166
@jgeewax @jdpedrie @dwsupplee @bshaffer

Need your input guys

[2016-09-26 22:28] dwsupplee commented on #166
I agree this approach makes a lot of sense :). Any issues with having multiple repositories can be mitigated quite well by the solutions you brought up.

For those interested in how this might look, please take a look at https://github.com/symfony.

[2016-09-27 13:36] tmatsuo commented on #166
A little more background: We received several complaints about https://github.com/google/google-api-php-client whenever we broke users code (https://github.com/google/google-api-php-client/issues/544 https://github.com/google/google-api-php-client/pull/973 https://github.com/google/google-api-php-client/issues/991).

[2016-09-27 13:51] tmatsuo commented on #166
One alternative approach to this problem is to propose a change to composer and packagist, basically allowing a single github repo have multiple composer packages on packagist. At a glance, this approach looks promising, but this proposal may take forever to take place. Here are the reasons; it is out of our control, there are bunch of stuff we need to consider, a mental barrier for breaking the c

[2016-09-27 14:01] jdpedrie commented on #166
Composer hasn't seemed especially open to this idea in the past, unfortunately: https://github.com/composer/composer/issues/5372. I think a subtree split is the only thing that'll happen in the near or medium term.

[2016-09-27 23:17] tmatsuo opened #170 "Support `DATASTORE_EMULATOR_HOST` env variable"
The datastore client should support the env var `DATASTORE_EMULATOR_HOST` (and probably `DATASTORE_PROJECT_ID`). See: https://cloud.google.com/datastore/docs/tools/datastore-emulator

[2016-09-27 23:20] jdpedrie commented on #170
See #165. :)

[2016-09-27 23:21] #170 closed

[2016-09-28 08:16] tmatsuo opened #171 "Alert user when keyfile does not include projectId"
cc: @bshaffer

Basically I do like this:

[code]

with a hope that the client library correctly guesses the projectId from the credentials (the credentials are given via the GOOGLE_APPLICATION_CREDENTIALS envvar).

The test is failing with a wrong projectId guess:
https://travis-ci.org/GoogleCloudPlatform/php-docs-samples/jobs/163269293#L3696

I think the test is failing because this guess is base

[2016-09-28 12:34] jdpedrie commented on #171
I'm looking into this now.

[2016-09-28 14:36] jdpedrie commented on #171
@tmatsuo I'm having trouble duplicating this. php-tools is copying the base64-encoded keyfile data from travis' config into `credentials.json` and making it available in the environment variable.

It seems that you're authenticating fine because you wouldn't get so far as a datastore not enabled error if it was a keyFile issue...

What should the project ID be? The project ID that the test is usin

[2016-09-28 15:45] jdpedrie commented on #171
I tried forking the php-docs-samples repo and running the `datastore-veneer` branch against travis. I'm getting the same error as you (for a different service), but it shows the expected project ID (the one I use for testing).

[2016-09-28 15:59] jdpedrie commented on #171
I tried forking the php-docs-samples repo and running the datastore-veneer branch against travis. The tests are passing for me. I am using my normal Project ID that I use for everything, and I am seeing that it is using the correct Project ID.

Is it possible that the keyFile in `GOOGLE_CREDENTIALS_BASE64` is incorrect?

[2016-09-28 17:35] tmatsuo commented on #171
I had a chat on hangout with @dwsupplee and @jdpedrie and we figured out what is happening here.

The current code for guessing projectId is here:
https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/ClientTrait.php#L124

It looks up the `project_id` key in the json file. This works perfectly for newly created json credentials file. Unfortunately some old json credentials file d

[2016-09-28 19:11] #144 closed

[2016-09-28 20:01] tmatsuo commented on #171
JFYI, I confirmed that the tests pass with a new json key file just generated.

[2016-09-28 20:07] tmatsuo opened #172 "Retry for token exchange"
I saw a sporadic failure with the logging client at:
https://travis-ci.org/GoogleCloudPlatform/php-docs-samples/jobs/163183476#L3661

[code]

Is it possible to automatically retry in such cases?

[2016-09-28 20:51] jdpedrie commented on #171
I'll go ahead and close this out then. :)

[2016-09-28 20:52] jdpedrie commented on #172
Interesting! It should be retrying on 502 errors. Any idea, @dwsupplee

[2016-09-28 21:16] dwsupplee commented on #172
Currently there is no logic set up to retry requests to auth, it is only configured for requests that flow through the various clients we offer.

It should be pretty straight-forward to add [right here] (https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/RequestWrapper.php#L245).

I'll open a PR to address this.

[2016-09-28 21:16] dwsupplee commented on #171
@jdpedrie Would you mind if we kept this open to track adding the warning for users?

[2016-09-28 23:02] tmatsuo opened #173 "Datastore: Do not set `EVENTUAL` readConsistency option by default"
https://cloud.google.com/datastore/reference/rest/v1/ReadOptions#ReadConsistency

Most users expect STRONG consistent behavior for lookup and ancestor queries. If I'm not mistaken, currently the library has its own default, which is `EVENTUAL`. Thus all the operations will use `EVENTUAL` consistency by default.

I think the library should not have the default value. The Datastore service knows app

[2016-09-29 07:09] omaray commented on #159
Hey - yes I know. But thanks for pointing that out. It was a conscious decision and is in alignment with other (internal) decisions.

For now we'll start with the multi-tag setup. Later on if it's an issue we can always create more tags (we are also trying to reduce the total number of tags).

Finally, if you want to ask a question, you need to be logged on. The premise is also that a lot of peopl

[2016-09-29 07:27] omaray commented on #165
I'm not aware of others.

@jgeewax - do you know of other emulators we need to support right now?

[2016-09-29 14:05] #173 closed

[2016-09-29 14:07] #159 closed

[2016-09-29 17:04] tmatsuo opened #175 "Datastore: Re-order entities for lookupBatch"
https://cloud.google.com/datastore/reference/rpc/google.datastore.v1#lookupresponse

When I do the following, I expect the result is in the same order as the input keys:

[code]

Is it possible to re-order the results?
Or at least document the behavior.

[2016-09-29 17:19] davidbielik opened #176 "BigQuery: maxResults not working in $job->queryResults"
I can't get the `maxResults` option to work and have tried adding it to a few different places (`$job->queryResults($options)`,  inside `$options['jobConfig']`, inside `$queryResults->reload($options)` but no luck.

Am I doing something wrong here?

[code]

**Expected**: `$count` should equal `maxResults` (50)
**Actual**: `$count` equals `$job->info()['totalRows']`

[2016-09-29 17:59] dwsupplee commented on #176
Hey @davidbielik!

You're actually spot on with your usage of `maxResults`! :)

`$queryResults->rows()` is returning a [generator](http://php.net/manual/en/language.generators.overview.php) that is keeping track of page tokens and iterating through the result set for you. The `maxResults` option is used in each of the individual requests that the generator manages.

To explain a bit further, let's

[2016-09-29 18:05] dwsupplee commented on #175
Given we know the original order the input keys it seems like it should be reasonable to match the order up with whatever we get in the response. WDYT @jdpedrie?

[2016-09-29 18:07] tmatsuo commented on #175
The potential issue is performance though

[2016-09-29 18:14] dwsupplee commented on #175
Good point. Would it make sense to have the sorting of results be configurable? The performance for a larger result sets could then be mitigated.

Something like this, maybe?:

[code]

[2016-09-29 18:20] jdpedrie commented on #175
Results being unsorted is expected behavior, documented [here](https://cloud.google.com/datastore/reference/rest/v1/projects/lookup#response-body).

I certainly can add a note to the documentation, and if it is widely agreed to I'm fine with ordering the response.

[2016-09-29 19:29] davidbielik commented on #176
Hi @dwsupplee Thanks for the quick reply!

The number of results I pull varies so to benefit from free cached requests I didn't want to go changing the limit clause (unless limits aren't included in the decision to cache?).

I was hesitant to simply break from the loop since maybe it would request all of the data at once which could be very memory-intensive, but your explanation makes sense!

Than

[2016-09-29 20:30] tmatsuo opened #177 "Datastore: Allow creating a key with parents"
https://cloud.google.com/datastore/docs/concepts/entities#levels_of_parents

The library should provide an easy way of creating a key with parents (allowing multi level).

Ideally it's great if I can do:
[code]

The other option would be:
[code]
But it's a bit cumbersome to create a key with multi level parent.

I may miss something, so let me know if there is already an easy way.

[2016-09-29 20:37] jdpedrie commented on #177
You can use the `Key::ancestor()` or `Key::pathElement()` method to do this:

[code]

Both these examples will result in this path:

[code]
The 2nd argument of `pathElement()` is optional for when you want Datastore to allocate an ID.

[2016-09-29 20:39] tmatsuo commented on #177
Oh I totally missed them! Sounds good.

[2016-09-29 20:39] #177 closed

[2016-09-29 21:18] dwsupplee commented on #176
No problem, really glad to hear that!

If you don't mind, I'm going to keep this issue open as a way to track updating the documentation of `maxResults`. :)

[2016-09-30 00:30] omaray opened #178 "Change title of tab from gcloud to google-cloud-php"
Opening the current [Client Library Reference page for PHP](https://googlecloudplatform.github.io/google-cloud-php/#/) looks great in general. I'm noticing that the tab title says `gcloud`:

![image](https://cloud.githubusercontent.com/assets/6609430/18976844/229651ae-866a-11e6-96c8-a778f4027ca7.png)

[Expected Result]
We should update it to say `google-cloud-php`.

[2016-09-30 00:40] omaray opened #179 "Links in language drop-downs sends user to gcloud-*"
The language drop-down on the [Client Library Reference page for PHP](https://googlecloudplatform.github.io/google-cloud-php/#/) sends users to gcloud-* for the following languages: Java, Node, PHP, Python, and Ruby.

![image](https://cloud.githubusercontent.com/assets/6609430/18976982/5e48ea94-866b-11e6-8f08-57316ac7835a.png)

It's a problem because sometimes we'll see a 404 appear.

[Expected]
T

[2016-09-30 01:57] bshaffer opened #180 "Logging: Default Entry "type" to "global""
The other client libraries (notably [python](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/0c0c8adf36b181d683316c0c64d21172594211fe/logging/google/cloud/logging/logger.py#L129)) default the entry type to `global`. Our documentation does not do a great job of explaining what this should be (all examples log to `gcs_bucket`).

[code]

[2016-09-30 14:54] dwsupplee commented on #179
Fixed by updating to the latest docs site. Worked quite nicely, much thanks to @callmehiphop.

[2016-09-30 14:54] #179 closed

[2016-09-30 14:58] dwsupplee commented on #178
Updated! :)

[2016-09-30 14:58] #178 closed

[2016-09-30 15:05] dwsupplee commented on #180
Originally I chose to require the monitored resource because every other client library except python/go did the same - thinking about it now this does seem like a pretty sane default that would help simplify the code.

Count me on board for this change. @jdpedrie WDYT? If it sounds good to you as well I'll get started on it.

[2016-09-30 15:06] jdpedrie commented on #180
:+1:

[2016-09-30 16:46] callmehiphop commented on #179
@dwsupplee I just had to update the Python repo name, so you may need to fetch the latest app again :(

[2016-09-30 20:43] dwsupplee commented on #179
Thanks for the heads up! All set :)

[2016-10-04 16:08] #165 closed

[2016-10-04 20:49] tmatsuo opened #183 "Datastore: query raise an exception"
Here is the exception:
[code]

The code:
[code]

Sorry if I miss something, but it seems like a bug in the library.

[2016-10-04 20:56] tmatsuo commented on #183
Using 80ea81bac77c51e236583d4aad29bea5fde01745

[2016-10-04 20:56] jdpedrie commented on #183
This is related to #173. Fix coming in a PR in a couple minutes.

[2016-10-04 22:24] #183 closed

[2016-10-05 22:27] tmatsuo opened #186 "Datastore: Can Query have `hasAncestor` method for ancestor queries?"
Libraries for other languages have such method:
https://cloud.google.com/datastore/docs/concepts/queries

Node sample:
[code]

[2016-10-05 22:47] tmatsuo opened #187 "Datastore: Can query have `keysOnly` method for keys only query?"
I think it's possible with:

[code]

Can you provide an alias for this like:

[code]

Most other languages have such a method. Here is a go sample:
[code]
python:
[code]

WDYT?

[2016-10-05 22:51] tmatsuo commented on #187
Oh wait. if I do:

[code]

I'm getting properties. This means the query is not a keys-only query. What's the current way of issuing a keys-only query?

[2016-10-06 00:00] dwsupplee commented on #187
Hey @tmatsuo, I think adding a `keysOnly` helper makes a lot sense here.

To answer your question about getting a keys-only query I believe currently you need to do the following:

[code]

While confirming this I ran into a small snag with how the projection paths are being built which is addressed by https://github.com/GoogleCloudPlatform/google-cloud-php/pull/188.

[2016-10-06 14:30] jdpedrie commented on #175
@tmatsuo would you expect missing and deferred results to be sorted, or only found?

[2016-10-06 17:37] tmatsuo commented on #187
Confirmed that `->projection('__key__')` works with dev-master. Thanks!

[2016-10-06 22:34] tmatsuo opened #190 "Wrong constants"
https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Datastore/Query/Query.php#L87

The current code:
[code]

I think it should be:

[code]

No?

I'm finding this with a test like the following:

[code]

I think the library should have tests like that.

Sorry If I'm missing something obvious.

[2016-10-06 22:58] dwsupplee commented on #190
You're correct, the constants need to be updated. Addressed in https://github.com/GoogleCloudPlatform/google-cloud-php/pull/191 with some additional unit test coverage.

[2016-10-06 23:00] tmatsuo opened #192 "Datastore: wrong conversion for projected properties"
I found that the library is converting a property wrongly.
Here is the code:

[code]

The test fails with:

[code]

I think the culprit is https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Datastore/EntityMapper.php#L65

[code]

Here is the dump of the server response (`print_r($res['batch']['entityResults']);`):
[code]

Seems like it is converting the value of `meaning` key,

[2016-10-07 02:38] jdpedrie commented on #192
I'll have a fix tomorrow in the AM.

[2016-10-07 04:17] #190 closed

[2016-10-08 00:35] dwsupplee opened #195 "Datastore: runQuery limit/cursors usage not clear"
`DatastoreClient::runQuery` paginates through all results regardless of limit/cursors that are set. This leads to some slightly unexpected behavior in cases like the following:

[code]

It takes more intimate knowledge of the library to realize that `Query::limit()` is only limiting the number of results per call to the API.

To limit the results returned from the API and only get a single item on

[2016-10-08 11:34] nickion opened #196 "Links to source code invalid"
All links to source code on `https://googlecloudplatform.github.io/google-cloud-php/#/docs/v0.10.0/storage/bucket` give a GH 404

[2016-10-08 12:37] dwsupplee commented on #196
Thanks @nickion! Addressed by https://github.com/GoogleCloudPlatform/google-cloud-php/pull/197

[2016-10-08 13:29] #196 closed

[2016-10-09 20:50] kaliseo commented on #195
Seriously ? oO One big problem identified is that if you have thousands of entities, it will cost a lot if  i  use someting like <=x

[2016-10-09 21:12] jdpedrie commented on #195
@dwsupplee Maybe we should change `limit` to set a true limit on the result set (essentially prevent paging), and add a `resultsPerPage` method to do what we're doing now?

[2016-10-11 04:11] PaulNaylor commented on #172
(Disclaimer: This is my first comment on Github, so please forgive me if I make a hash of it!)
Hi @tmatsuo - thanks for reporting this issue: I'm seeing a similar issue with oauth2/v4/token, though it's a 500 error:
Server error: `POST https://www.googleapis.com/oauth2/v4/token` resulted in a `500 Internal Server Error` ..., .../google/cloud/src/RequestWrapper.php, line:283

we have about 10 of th

[2016-10-11 12:51] dwsupplee commented on #172
Welcome @PaulNaylor. Thanks for the added details. :)

Recently our auth module exposed psr-6 compatible caching. In addition to the retry logic I will make sure we include a way to expose that caching mechanism - it should help greatly with your current situation Paul.

[2016-10-11 13:05] #192 closed

[2016-10-11 13:11] dwsupplee commented on #195
Closed by https://github.com/GoogleCloudPlatform/google-cloud-php/pull/200

[2016-10-11 13:11] #195 closed

[2016-10-11 17:16] tmatsuo commented on #192
JFYI, our tests pass now

[2016-10-11 17:17] tmatsuo commented on #195
JFYI our tests pass now

[2016-10-12 00:22] PaulNaylor commented on #172
That's great! Thanks so much @dwsupplee :)
Dare I ask if it will handle token checking and refreshing as well? or is that something I should handle?

[2016-10-12 23:34] tmatsuo commented on #175
@jdpedrie Good point. I would say it's not needed. The `found` is most important.

FYI, Java implementation:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreHelper.java#L78

[2016-10-13 15:48] dwsupplee commented on #172
@PaulNaylor The current plan is for the library to handle that for you. I will keep you posted with updates if this changes :).

[2016-10-13 16:02] #187 closed

[2016-10-13 16:08] dwsupplee commented on #175
Closed by https://github.com/GoogleCloudPlatform/google-cloud-php/pull/189

[2016-10-13 16:08] #175 closed

[2016-10-13 16:08] dwsupplee commented on #186
Closed by https://github.com/GoogleCloudPlatform/google-cloud-php/pull/189

[2016-10-13 16:08] #186 closed

[2016-10-14 13:26] jdpedrie opened #206 "Add guide for using HTTP Middleware"
- General guide to using guzzle middleware
- Log Requests/Responses

[2016-10-15 19:26] michaelbausor opened #207 "Read the Docs link broken on github.io page"
The Read the Docs link on https://googlecloudplatform.github.io/google-cloud-php/#/ is broken. It directs to v0.11.1, but that is not found.

v0.10.2 is available here:
https://googlecloudplatform.github.io/google-cloud-php/#/docs/v0.10.2/servicebuilder

"latest" also works, and redirects to v0.10.2:
https://googlecloudplatform.github.io/google-cloud-php/#/docs/latest/servicebuilder

It looks like

[2016-10-15 20:14] dwsupplee commented on #207
Thanks for the report Michael! I regenerated the docs and everything appears to be working well now. I have opened a PR which fixes a few doc block issues that caused the docs to not generate correctly. We will work out a process to ensure this doesn't happen again.

[2016-10-15 20:21] #207 closed

[2016-10-18 23:51] bshaffer opened #211 "use resourceNames instead of projectId for logging.entities.list"
the `projectIds` field is being deprecated for [`entities.list`](https://cloud.google.com/logging/docs/api/ref_v2beta1/rest/v2beta1/entries/list) in favor of `resourceNames`.

The `projectIds` field will eventually be removed, so we should update the [LoggingClient](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Logging/LoggingClient.php#L330) to prepare for this change:

[2016-10-19 13:15] dwsupplee commented on #211
Thanks for the heads up @bshaffer

[2016-10-21 14:00] github-kelvin opened #215 "BigQuery: missing table update"
I can't update the table schema after creation

[2016-10-21 14:08] dwsupplee commented on #215
Thanks for the report @github-kelvin, and sorry for the oversight here. Adding support for this right now.

[2016-10-21 15:05] #215 closed

[2016-10-22 14:17] PaulNaylor commented on #172
Sorry for not knowing how this works.. but is there any way I can get an idea on the time frame for this fix? I guess I need to figure out a solution myself if it's not within the next week or two as I have players getting errors from the failed oauth2 calls. Cheers.

[2016-10-22 14:43] dwsupplee commented on #172
Hey Paul, I expect to transition into handling this early next week. I will keep you posted.

[2016-10-27 18:49] mozgbrasil opened #218 "Fatal error: Uncaught TypeError: Argument 1 passed to Google\Cloud\Datastore\DatastoreClient::update() must be an instance of Google\Cloud\Datastore\Entity, array given, called in"
Good afternoon

Hello

I am running the following example

https://github.com/GoogleCloudPlatform/google-cloud-php#preview-3

And it is returned

Fatal error: Uncaught TypeError: Argument 1 passed to Google\Cloud\Datastore\DatastoreClient::update() must be an instance of Google\Cloud\Datastore\Entity, array given, called in

[2016-10-27 18:59] jdpedrie commented on #218
Hi @mozgbrasil,

Thanks for letting us know about this. The problem is that when the record is inserted, no name or ID is specified, so Datastore automatically allocates one. Then when you try to look up the Person named `Bob`, it doesn't exist.

You could try this example, which works as you'd expect:

[code]

I'll work on getting the example updated to be a bit clearer!

[2016-10-27 19:22] tmatsuo commented on #218
Will `insert` still succeed when you tried again?
How about to get the key from the entity like:
[code]

[2016-10-27 20:29] jdpedrie commented on #218
@tmatsuo that works too. I think the confusion lays more in the fact that those two examples (create and fetch/update) should be understood as discrete operations on discrete entities. Of course @mozgbrasil is right to bring it up because that is not at all clear, but if you look at the example from that side it makes sense.

[2016-10-28 01:45] mozgbrasil commented on #218
Thank you my friends

[2016-11-02 11:58] kaushikandani opened #223 "How to add this library in Laravel 5?"
Please help me to add this library in Laravel 5

Thanks

[2016-11-02 12:54] adaojunior commented on #223
Did you experience any error when integration this library with Laravel ?
What exactly do you want to do ?

[2016-11-02 13:13] jdpedrie commented on #223
HI @kaushikandani. The best way to add a 3rd party library to your Laravel project is through a Service Provider. We do not provide Service Providers for different frameworks out of the box (though we may in the future).

Laravel offers really good documentation on [creating your own service providers](https://laravel.com/docs/5.3/providers#writing-service-providers). It's a pretty simple process!

[2016-11-02 13:29] kaushikandani commented on #223
Currently i used this library with core php
now i want to develop same in laravel

[2016-11-02 18:12] tswast opened #224 "Support generic Batch HTTP requests"
We got feedback on this page that we don't have any code samples. https://cloud.google.com/bigquery/batch

The API clients support batch requests, https://developers.google.com/api-client-library/java/google-api-java-client/batch but I don't think the Cloud libraries do.

[2016-11-04 15:16] #172 closed

[2016-11-04 15:30] dwsupplee commented on #172
@PaulNaylor Please take a look at https://github.com/GoogleCloudPlatform/google-cloud-php/issues/219 when you have a moment and let me know if this helps solve your issue. We should be tagging a release early next week with the updates.

[2016-11-06 15:19] pavneet9 opened #226 "Inserting an Image in google cloud storage using php api"
I am trying to setup storage in google cloud platform. Honestly now i am kind of confused on what to do.

I am using the following code.

[code]
On executing the function i get the following error.

[code]

[2016-11-06 19:19] jdpedrie commented on #226
Hi @pavneet9!

It's usually best to use the helper methods we provide for creating objects. You won't need to worry about managing connections yourself if you use the methods on the objects. For instance:

[code]

Uploading an image is pretty straightforward, but it's done using a `Bucket`, not an object:

[code]

Take a look at the [`Bucket::upload()`](https://googlecloudplatform.github.io/google

[2016-11-07 14:39] frag-seb opened #232 "Case sensitive error "JobConfigurationTrait""
The namespace from the JobConfiguration is wrong

original:    Google\Cloud\Bigquery\JobConfigurationTrait
correctly: Google\Cloud\BigQuery\JobConfigurationTrait

[2016-11-07 14:46] jdpedrie commented on #232
Thanks @frag-seb.

I'll get a patch added and we'll include it in the next release, planned for later this week.

[2016-11-07 15:03] #232 closed

[2016-11-07 15:06] jdpedrie commented on #223
@kaushikandani did you have any luck following the instructions in my previous comment?

[2016-11-07 18:52] iggori commented on #223
I have same issue ...
What is difference between registering service provider and usage direct from vendor folder class that i need? In my case: Google\Cloud\Vision\VisionClient;
Under condition that i need usage of this class only in  one controller?
Beside, why none explained where to configure credentials because when used it throws:
'Could not load the default credentials. '
Cool, but where to

[2016-11-07 19:51] jdpedrie commented on #223
Hi @iggori,

Using Google Cloud PHP directly is fine, but a ServiceProvider lets you do things the "laravel way", and helps with dependency injection and other things you might value.

Our [documentation guide on Authentication](https://googlecloudplatform.github.io/google-cloud-php/#/docs/v0.11.1/guides/authentication) will help with obtaining your account credentials. The easiest way to authenti

[2016-11-07 19:55] iggori commented on #223
@jdpedrie Hi! tnx for reply i just setting up https://github.com/pulkitjalan/google-apiclient
I have defined json file and set:

$client = Google::getClient(); // so here no problems seems I'm authenticated.
Then i call:
$vision = Google::make('vision');

after I'm calling:
        // Annotate an image, detecting faces.
        $image = $vision->image(
            fopen('https://upload.wikimedia.o

[2016-11-07 20:08] jdpedrie commented on #223
@iggori,

That library uses `google/apiclient`, which is different from this library, which on packagist is called `google/cloud`. Confusing, I know. :-/

Google Cloud PHP doesn't offer framework-specific providers currently, and a quick search of packagist didn't turn up any bridges yet.

To install this library and use it directly, run this command in your terminal:

[code]

Then you can follow

[2016-11-07 20:31] iggori commented on #223
@jdpedrie
Seems It works now form your sample. At least i got api response:
`image-annotator::Bad image data.: Image processing error!`

What is proper way to give google vision url to file?
I'm trying to replicate this py sample given here:
http://stackoverflow.com/questions/35804081/can-google-vision-api-accept-external-image-url

Because I don't want to store images on Google cloud or upload th

[2016-11-07 20:36] jdpedrie commented on #223
You may have mixed results using `fopen` across domains. You're probably better off using `curl` to fetch from a different server. Of course make sure you have permission from the owner of the other domain before pulling from their server.

Using Curl:

[code]

[2016-11-07 20:41] iggori commented on #223
@jdpedrie If you checked out my previous comment I tryied to explain I'm trying to replicate feeding google vision with URL not with content.
We speak about milions of files that are stored on Amazon S3 and many of them are about 10Mb each.
Google vision is expansive already. I'm trying to avoid additional Amazon Data Transfer costs that can cost fortune to send every file to G.
Here guy explained

[2016-11-07 20:45] jdpedrie commented on #223
Cloud VIsion accepts the image data as a string, or as a Google Cloud Storage object. To annotate images elsewhere on the internet (including Amazon S3), you'll first need to download them, as my previous example using curl demonstrates.

There is no way to ask Cloud Vision to pull the image from the internet for you.

[2016-11-07 20:53] iggori commented on #223
@jdpedrie Tnx.
For others this is sample class that works on Laravel 5.2 if someone needs tnx to @jdpedrie :
`<?php

namespace App\Http\Controllers;
use Google\Cloud\Vision\VisionClient;

class PlayGround extends Controller
{
    public function hello(){

        // Application Default Credentials are configured using an environment variable.
        // When this environment variable is set, you s

[2016-11-07 20:54] jdpedrie commented on #223
Glad to help. Let us know if there's anything else!

[2016-11-07 20:55] iggori commented on #223
@jdpedrie Is there real need to have `new VisionClient();` 3x ?

[2016-11-07 20:58] jdpedrie commented on #223
No, I was just showing you the different ways you could set it up. Use the one that makes sense for you. Your example uses the keyFilePath, so only keep that.

ApplicationDefaultCredentials:
[code]

Key File path:
[code]

Key File JSON:
[code]

[2016-11-07 21:03] iggori commented on #223
@jdpedrie  Got it now! Big tnx!

[2016-11-08 05:06] kaushikandani commented on #223
@jdpedrie thanks for your help
solved my problem now!!!

again thanks

[2016-11-08 12:48] diegosucaria commented on #156
Hi!
Today I started to have the same issue, 'cURL error 6: Couldn't resolve host 'pubsub.googleapis.com'   on AppEngine

It was working fine yesterday.  Will try to use the service account credentials

[2016-11-08 13:58] #223 closed

[2016-11-08 16:13] gustavo4 opened #236 "Google Speech API Key"
Hi

I want know where I must put the API key?

I have this error:
Could not load the default credentials. Browse to https://developers.google.com/accounts/docs/application-default-credentials for more information

I share my code. Thanks

            $speech = new SpeechClient([
                'projectId' => 'PROJECT_ID'
            ]);

            $recognizeOptions = [
                'encoding

[2016-11-09 18:10] jdpedrie commented on #236
Have you obtained a service account keyfile from the console? If not, check out [this guide](https://googlecloudplatform.github.io/google-cloud-php/#/docs/v0.11.1/guides/authentication) (scroll down to the "On Your Own Server" section).

Once you have your keyfile, update your code like so:

[code]

Make sure to change the `/path/to/keyfile.json` part to point at the key you downloaded from your d

[2016-11-09 20:52] aMerovingian opened #237 "BigQuery - > JobConfigurationTrait configuration merge bug"
This is faulty because it doesn't merge the nested data of "userDefinedOptions" array with the base array.
 So I can't update, for example, the ["configuration"=>["load"=>[]] data

[code]

[2016-11-10 02:13] #218 closed

[2016-11-10 15:20] jdpedrie commented on #237
I'll defer to @dwsupplee on the intentions here, whether the functionality you're encountering is intended (with a way around it) or a bug, but in the meantime, just to check a possible solution, @aMerovingian if you replace that snippet with this:

[code]

Do you get the result you are looking for?

[2016-11-10 15:21] jdpedrie commented on #226
Any luck, @pavneet9?

[2016-11-10 16:09] dwsupplee commented on #237
@aMerovingian

What does your calling code look like? The intended usage is as follows:

[code]

We can certainly work on making this more clear, thanks for the report 👍

[2016-11-10 16:21] aMerovingian commented on #237
@dwsupplee
Ah, i see.
Sorry, I got confused i guess. In the code comment  you did say : "@type array $jobConfig Configuration settings for a load job are".
But after following the doc link from the same comment "https://goo.gl/j6jyHv" I got focused on rendering the array in the documentation format. So I was calling it like:

[code]
Thank you for the clarification.

[2016-11-10 16:32] dwsupplee commented on #237
You're welcome! Sorry for any confusion that was caused. We will make sure to follow up on making this more clear.

[2016-11-10 16:32] #237 closed

[2016-11-10 16:33] pavneet9 commented on #226
Yes it worked, just a friendly advice, I think the cloud storage api needs better documentation. Some of the tutorials are really old. If you know any good url's to learn about the cloud storage php api, do add them here http://knowledgemaps.org/learning-journey/3106/uploading-images-to-google-cloud-storage

[2016-11-10 16:44] jdpedrie commented on #166
FYI, I've been investigating different options for this and we'll have something to share and present next week if all goes as planned.

[2016-11-10 20:41] tmatsuo commented on #166
@jdpedrie Thanks for the update!

[2016-11-14 13:34] jdpedrie commented on #236
Hey @gustavo4, did you have any luck with this?

[2016-11-14 13:34] #226 closed

[2016-11-15 09:12] gustavo4 commented on #236
@jdpedrie Thanks

Now I have not the error, but I do not connect to Google Speech API, so, I have the result when I do:
         $results = $speech->recognize(
            fopen(__DIR__ . $pathUploads.'/'.$fileAudio, 'r'),
            $recognizeOptions
        );

Where I must put the Google Speech API Key? into JSON File?

Thanks

[2016-11-15 11:14] gustavo4 commented on #236
@jdpedrie Thanks, now it's ok.

[2016-11-15 11:14] #236 closed

[2016-11-21 17:37] dwsupplee commented on #156
@diegosucaria Sorry for the delay here, have been out of the office with limited access over the last few weeks. Just wanted to provide a heads up that this is something we are investigating currently and will keep you posted with more details as they develop.

[2016-11-21 18:55] omaray opened #246 "Implement BigQuery Parameterization"
https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query#request-body

A query can put placeholders in the query text, which can then be filled in with queryParameters. Depending on what parameterMode is set to, the parameter can be positional ? or names @somename.

See also: GoogleCloudPlatform/google-cloud-python#2551

[2016-11-22 17:38] dwsupplee commented on #211
Closed by https://github.com/GoogleCloudPlatform/google-cloud-php/pull/235

[2016-11-22 17:38] #211 closed

[2016-11-23 09:04] AdamLazarus opened #249 "'Subscription.name has already been set error' occurring PubSub Emulator"
This error occurs in the PubSub emulator when trying to create a subscription with some standard code. Example code with reproduction steps in comment: [1]

After some investigation it looks like the problem is a bug in the Pub/Sub client library that causes the subscription name to be included twice in the JSON. In the API reference[2] 'name' is listed as a path parameter but it's also available

[2016-11-23 15:31] lakano opened #250 "Translate EAP Premium - BadRequestException with large text"
Hello !

We are in the Early Access Program for Google Translate Premium Beta, and with the last « master » branch of your PHP API, this works perfectly with short sentences ( we receive in return the « nmt » field confirmation ).

But for long text ( tested with a text of about 2500 characters ), we have an error:

May be it's because the text is too long for an URL request through GET method.
So

[2016-11-23 15:40] jdpedrie commented on #249
Hi @AdamLazarus, sorry about the trouble you're having. I've confirmed your report, and I'm working on figuring out how to get it resolved. I will keep you posted!

[2016-11-23 15:51] dwsupplee commented on #249
Had just started taking a look before your message @jdpedrie. It looks like the emulator is more strict in what data it accepts. According to the service definition, the `name` exists in the path and also as part of the `Subscription` schema which is what delivered in the body of the request.

First thought is to unset any incoming options after we have assigned them to the proper portions of the

[2016-11-23 16:09] dwsupplee commented on #250
Thanks for the report @lakano, taking a look now.

[2016-11-23 16:48] dwsupplee commented on #250
You were spot on with the text being too long for the content to be in the URL.

The `q` parameter which contains the text to be translated is still assigned as a query param - we will need to get the definition updated with the latest rules in order to send the text as part of the body. After checking the discovery API it looks like the latest definition which should handle that has not been rele

[2016-11-23 16:53] jdpedrie commented on #249
Hey @AdamLazarus, would you mind trying to run your code against the changes in #251 and see if it solves your problem?

[2016-11-23 16:56] lakano commented on #250
Thanks for the quick feedback 👍
So, there is no manual quick workaround I can do now to bypass the problem?
If you known which file in the google-cloud-php package, I could surely remove manually any GET parameter (we only use the google-cloud-php package for Translate NMT).
Thanks :)

[2016-11-23 17:31] dwsupplee commented on #250
It looks like there are still a few outstanding issues before the discovery doc will be updated officially. In the meantime, since you are in the EAP program let me know if using this service definition does the trick for you. :)

https://gist.github.com/dwsupplee/eb75e35ae96dd829387ab27e64e9aa47

[2016-11-23 17:34] lakano commented on #250
Yes ! Thanks for the quick fix :)

[2016-11-23 17:34] #250 closed

[2016-11-23 19:45] dwsupplee commented on #249
Going to leave this open until we hear back from @AdamLazarus

[2016-11-24 11:35] AdamLazarus commented on #249
Looks like it's fixed with #251. Thanks very much!

[2016-11-24 15:49] #249 closed

[2016-11-25 12:32] spedmaker opened #254 "How to edit php.ini to increase upload size in the LAMP server"
I need to change the size of the upload in the apache configuration.
i found two archives with two different users in the path: /etc/php5/cli/php.ini
I changed the content of the line in the two files
upload_max_filesize = 2M      for
upload_max_filesize  = 50M

but, after restart the instance, still have size for upload = 2M,
How I can change the configuration to get a larger download  ???

[2016-11-25 14:03] jdpedrie commented on #254
If you are using Apache or PHP-FPM, `/etc/php5/cli/php.ini` won't apply to those contexts. That file only applies to the CLI. Look for a folder called apache2, or php-fpm.

Best of luck, but this question doesn't have much to do with google-cloud-php, so I'm going to close it out. You can find help with general PHP questions at http://reddit.com/r/phphelp. :)

[2016-11-25 14:03] #254 closed

[2016-11-25 17:41] jamesgraham opened #255 "Cannot install with composer alongside Google API PHP"
Google Cloud has a fixed requirement for auth:

Google API PHP Client requires newer:

Thus I am unable to use both libraries.

[2016-11-25 17:58] dwsupplee commented on #255
Thanks for the report @jamesgraham

[2016-11-25 18:01] dwsupplee commented on #255
@michaelbausor It looks like we will need to upgrade gax-php as well:

https://github.com/googleapis/gax-php/blob/master/composer.json#L10

[2016-11-28 14:01] ivanjaros commented on #255
What's a temporary workaround for this?

[2016-11-28 14:05] jdpedrie commented on #255
Rolling back `google/apiclient` to `v2.0.3` should fix things. This is a high priority for us, and I apologize for the delay. We will have it resolved by the end of today.

[2016-11-28 15:56] dwsupplee opened #259 "Add type to handle 64 bit integers on 32 bit systems"
We perform some type inference, such as here in [datastore](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Datastore/EntityMapper.php#L258-L263). We should add a new class to represent large ints that may overflow to a float in 32 bit systems.

[2016-11-28 17:16] jdpedrie commented on #255
Hi @jamesgraham and @ivanjaros. We just released `google/cloud@v0.13.1` which should solve your problem with the auth dependency conflict!

[2016-11-28 22:06] jamesgraham commented on #255
Thanks @jdpedrie!

Maybe I'm missing something but I still get failure:

Using version ^0.13.1 for google/cloud
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Can only install one of: google/auth[v0.11.0, v0.11.1].

[2016-11-28 22:44] jdpedrie commented on #255
This looks like our bad. Working on resolving it. Sorry about that! My comment above on rolling `google/apiclient` back is still a preferred temporary solution.

[2016-11-28 23:08] jdpedrie commented on #255
Hey all,

please try v0.13.2. You should be good now.

Sorry again!

[2016-11-29 01:45] bshaffer opened #266 "RFC: Expect "encryptionKey" to be base64 encoded in Cloud Storage"
The current implementation is a little confusing, as the `$encryptionKey` is required to be a raw byte string:

[code]

Outputting the random bytes will be ASCII nonsense, and the key will be lost.

[code]

Additionally, the passing in of `encryptionKeySHA256` seems best handled by the client library. So I propose a parameter which expects the user to handle `base64_encode` of their random bytes l

[2016-11-29 07:20] jamesgraham commented on #255
Thanks @jdpedrie it's working now!

[2016-11-29 07:20] #255 closed

[2016-11-29 14:56] tswast commented on #224
Closing this since batch is considered a legacy feature. It is not supported in new gRPC-native APIs.

[2016-11-29 14:56] #224 closed

[2016-11-29 19:04] bshaffer commented on #266
@tmatsuo has brought up the performance implications of always having the client library calculate the sha. To address this, the `encryptionKeySHA256` can be an optional parameter, with docs conveying it's purpose is to increase performance.

[2016-11-29 23:57] dwsupplee commented on #266
Thanks for the feedback @bshaffer!

The original thought was to provide a way for users to handle the SHA so it didn't need to be recalculated on each call.

Asking that the parameters are base64 encoded and allowing the SHA to be optional sound like solid suggestions to me. I should be able to get the changes in this week.

[2016-11-30 20:49] danoscarmike commented on #246
@dwsupplee do you have anything blocking this?  If so, please let me know.  If you are actively working can you give me an estimate to completion?  Thanks!

[2016-11-30 20:53] dwsupplee commented on #246
Hey @danoscarmike, no blockers and the estimated completion is by tomorrow.

[2016-12-02 09:42] CaptainJojo opened #267 "bug: PsrLogger is not used correctly"
# Description

In [PsrLogger](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Logging/PsrLogger.php#L232), `log` function implements `Psr\Log\LoggerInterface` correctly, with arguments `$level`, `$message`, `$context`.

After the `$context` is merge with `["severity" => $level]` [at the line 245 of PsrLogger](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/mast

[2016-12-02 15:19] dwsupplee commented on #267
Thanks for the report! I will try to reproduce and look into some options.

[2016-12-02 19:49] jdpedrie opened #270 "Add test to make sure we're playing nice with google/apiclient dependencies"
Since we have some shared dependencies with `google/apiclient` and many users likely will be using both libraries, we should ensure that our dependency versions do not conflict with theirs on a running basis.

[2016-12-02 22:47] danoscarmike commented on #246
@dwsupplee any update?  Can you link PR when ready?  Thanks!

[2016-12-02 22:48] dwsupplee commented on #246
@danoscarmike just wanted to provide a quick update. I ran into a few snags with making sure we support the various standard SQL types that held things up a little bit. Have a good gameplan now and the new ETA is this weekend.

[2016-12-02 22:48] dwsupplee commented on #246
Ha! Looks like we were on each other's minds :)

[2016-12-02 22:52] danoscarmike commented on #246
Thanks David!

[2016-12-03 01:33] #180 closed

[2016-12-05 23:59] bshaffer opened #275 "Language API: encodingType is a required parameter"
From the [Language API Docs](https://cloud.google.com/natural-language/docs/basics#basic_natural_language_requests):

[code]

The current version (`13.2`) is returning `beginOffset: -1` for all calls to `analyzeSyntax` because the `encodingType` parameter is not being set.

[2016-12-06 00:07] bshaffer commented on #275
Looks like the order of validation was changed in the refactoring, and we just need to add `encodingType` to the `$docOptions` array and add a test. I'll submit a PR shortly.

[2016-12-06 00:12] bshaffer commented on #275
Nevermind, the above is incorrect, as `encodingType` needs to be outside the `document` array.

[2016-12-06 00:24] dwsupplee commented on #275
Thanks for the report! It looks like the issue is here:

https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/NaturalLanguage/Connection/ServiceDefinition/language-v1beta1.json#L234-L242

The `AnalyzeSyntaxRequest` doesn't seem match up with the [analyzeSyntax documentation](https://cloud.google.com/natural-language/reference/rest/v1beta1/documents/analyzeSyntax). Hmmm.. @jdpedr

[2016-12-06 01:32] danoscarmike opened #277 "BigQuery: Add support for AVRO"
Refer Java issue for details - https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1441

[2016-12-06 15:14] jdpedrie commented on #275
No, it was most likely a mistake in my manual translation of the proto file when adding the endpoint to the json schema. 😢

[2016-12-07 14:40] dwsupplee commented on #259
After discussing with @bshaffer and @jdpedrie , the plan is to implement an `INT64` class that can be used instead of the native PHP int. The class will store the 64 bit integer as a string and will be used when performing stores/lookups in platforms like datastore. The plan is to make using the class optional by providing a configuration option to clients that may need it.

There is precedence fo

[2016-12-07 14:41] dwsupplee commented on #267
@CaptainJojo Thanks again for the detailed report. I will be opening a PR later today that includes changes that will address the issues you have run into here.

[2016-12-07 21:15] #259 closed

[2016-12-08 04:21] mbrukman opened #283 "Add support for Bigtable"
Could you please add support for Bigtable?

Support for the Bigtable Admin API can be added to the `master` branch as it does not require any additional work beyond just calling the gRPC APIs. We can start with the Bigtable Data API on a separate branch and merge to `master` once it's ready for general consumption; Bigtable protocol requires additional development beyond just calling the gRPC APIs

[2016-12-08 14:12] #275 closed

[2016-12-08 14:17] #267 closed

[2016-12-08 14:18] #266 closed

[2016-12-08 16:53] #246 closed

[2016-12-08 22:48] jdpedrie opened #285 "Add snippet tests for NaturalLanguage"

[2016-12-09 13:43] cedricziel opened #287 "Use POST with translate API"
Same problem as in #250 : Large chunks of text won't go well when submitted through GET requests.

Is there anything stopping us from using the POST method in general when grabbing translations?

[2016-12-09 13:58] jdpedrie commented on #287
I'm trying to determine what needs to happen in order for us to update from GET to POST. In the meantime, you can still use that modified schema definition that @dwsupplee supplied in the previous issue.

I'm sorry this is still outstanding. We are aware of it and trying to get it resolved as soon as we can.

[2016-12-09 14:14] cedricziel commented on #287
Thank you for your quick reply and further investigation @jdpedrie !

If it was just about me, I think i would use the modified schema, but I cannot expect users of a CMS to download and modify a json scheme from a gist. :-/

[2016-12-14 00:48] danoscarmike opened #290 "Branding updates required for Translate API client libraries"
On November 15, 2016, Google launch a rebranding of Google Translate API to Google Cloud Translation API. This does not impact the method names but the URLbase as well as readmes, samples and comments.

URLbase has been already updated to translation.googleapis.com

We need to have update the Client library, the readme, client library docs, samples and code comments to use "Google Cloud Translatio

[2016-12-15 01:16] dwsupplee commented on #277
[Table::load()](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/BigQuery/Table.php#L280) has AVRO support already handled, we should be good to go here.

An example:
[code]

[2016-12-15 01:16] #277 closed

[2016-12-15 03:28] omaray opened #292 "Docs: "Go doesn't appear in the drop down for PHP""
SCENARIO
Please see this issue in the Go repo: https://github.com/GoogleCloudPlatform/google-cloud-go/issues/455

Seems like we need to refresh the docs for PHP perhaps?

Either way, "Go" is missing from the drop-down:

![image](https://cloud.githubusercontent.com/assets/6609430/21210855/79709dea-c233-11e6-9d69-6a7fd56ab021.png)

[2016-12-15 03:48] dwsupplee commented on #292
I regenerated the docs site and we now have GO in the drop-down.

[2016-12-15 03:48] #292 closed

[2016-12-15 15:03] jdpedrie commented on #287
@cedricziel #289 should help you. You can provide a service definition json file in the factory like so:

[code]

Be careful when using this, as we can't guarantee future changes won't break with a custom definition file, but when you're sure a service definition will work, it may let you get your hands on certain features before they're supported in the main library.

It'll be included in the nex

[2016-12-16 04:34] richseyha opened #293 "Google cloud php connect with Elfinder"
Dear Sir/Madam,

Now, I am having a problem that I can not Configure the conector.minimal.php in Folder php/connector.minimal.php.
Please help me to solve this problem or guide me some document related to this problme...

Thanks in advance...!

[2016-12-16 14:35] dwsupplee commented on #293
Hey @richseyha,

It looks like there are a couple libraries you can install through composer to get up and running:

https://github.com/barryvdh/elfinder-flysystem-driver
https://github.com/Superbalist/flysystem-google-cloud-storage

Once installed, your `connector.minimal.php` should look something like this:
[code]

Please let me know if this works for you.

[2016-12-16 17:41] richseyha commented on #293
Hello dwsupplee,

This is my composer.json configuration:
{
    "name": "superbalist/flysystem-google-storage",
    "description": "Flysystem adapter for Google Cloud Storage",
    "license": "MIT",
    "authors": [
        {
            "name": "Superbalist.com a division of Takealot Online (Pty) Ltd",
            "email": "info@superbalist.com"
        }
    ],
    "require": {
        "php": ">

[2016-12-16 18:00] dwsupplee commented on #293
That is the composer.json for the [flysystem-google-cloud-storage](https://github.com/Superbalist/flysystem-google-cloud-storage/blob/master/composer.json) package. In the require section of your project's composer.json file you will want to add the dependencies mentioned above.

The sample I provided was only intended to be a snippet of the full `connector.minimal.php` file. Make sure you include

[2016-12-16 18:06] #293 closed

[2016-12-17 12:29] wyklif opened #294 "Auth"
Where do i put my authentication credentials for this?

[2016-12-17 14:46] dwsupplee commented on #294
Hey @wyklif,

If you're running your code on compute engine we'll take care of authentication for you. In other scenarios, you'll need to follow [this guide](https://googlecloudplatform.github.io/google-cloud-php/#/docs/v0.20.0/guides/authentication) to get your service account credentials.

From there you can pass that along to the library like so:

[code]

Hope this helps, let me know if you hav

[2016-12-17 16:48] dwsupplee commented on #294
Please feel free to re-open if you need anything else.

[2016-12-17 16:48] #294 closed

[2016-12-18 14:50] richseyha commented on #293
Yes, thanks you so much for your help. Now I am configure my app with your guidance.

[2016-12-18 15:21] wyklif commented on #294
thanks

[2016-12-19 19:55] bshaffer opened #295 "Logging Client returns ALL results, which is to say a lot"
The `LoggingClient` returns all results, which is very impractical:

[code]

Is there a way to prevent this?

[2016-12-19 20:27] dwsupplee commented on #295
You can provide a [filter](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Logging/Logger.php#L182) - or scope your results to a specific log using [Logger::entries()](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Logging/Logger.php#L191) which will apply a default filter for you.

You could also do something like this if you wished to limit your r

[2016-12-19 20:34] dwsupplee commented on #295
To help me better understand how we can improve this, what is the use case for only wanting to select the 10 most recent logs vs. specifying they are within a certain date range or have a specific label, etc?

[2016-12-19 21:02] bshaffer commented on #295
I think in general with logs, it's going to be a use case to limit how many are returned. In any case I can think of, there will be a form of pagination. That the client automatically paginates without providing an alternative (other than the manual check above, which is hackish and btw doesn't work for twig since twig doesn't allow breaking :-/) is an issue IMHO.

[2016-12-19 21:39] dwsupplee commented on #295
What if we were to return a class that implements `Iterator` which exposes a `getPageToken` (or similar) method instead of a generator? We could also add an `autoPaginate` parameter to any list methods which could be true by default, and when false a user could use the page token getter to manually page through the result set.

It could look something like this:

[code]

[code]

[2016-12-20 18:36] bshaffer commented on #295
This would work great!

[2016-12-28 15:49] ras44 opened #296 "ServiceBuilder option keyFile is type string, but treated as associative array in makeCredentials"
ServiceBuilder.php describes the config keyFile option with:
[code]

Providing the contents of the service account credentials as a string, however, with:
[code]
 results in CredentialsLoader.php->makeCredentials($scope, array $jsonKey) throwing an error:

    array_key_exists() expects parameter 2 to be array, string given

The service account credentials can be converted to an associative array

[2016-12-28 16:12] dwsupplee commented on #296
Hey @ras44,

This looks like a mistake on our part and the correct type is (as you discovered) `array`.  I've opened a PR to address this, thanks for the thorough report and bringing it to our attention :).

[2016-12-28 18:38] ras44 commented on #296
Thanks @dwsupplee - it's been a great API to work within

[2016-12-28 20:08] #296 closed

[2016-12-28 20:32] ras44 commented on #296
@dwsupplee it looks like this issue might also be present in the following files (fyi- I haven't checked each one individually):

vendor/google/cloud/src/BigQuery/BigQueryClient.php
vendor/google/cloud/src/Logging/LoggingClient.php
vendor/google/cloud/src/NaturalLanguage/NaturalLanguageClient.php
vendor/google/cloud/src/PubSub/PubSubClient.php
vendor/google/cloud/src/RequestWrapper.php
vendor/goog

[2016-12-28 21:58] jdpedrie commented on #287
Hey @cedricziel. We just tagged [`v0.20.1`](https://github.com/GoogleCloudPlatform/google-cloud-php/releases/tag/v0.20.1), which includes the change I described above. Hopefully this'll be helpful for you until we're able to officially support the POST http verb.

[2016-12-28 21:58] #287 closed

[2016-12-28 22:00] jdpedrie commented on #296
Hi @ras44,

@dwsupplee's change also updated the documentation in each of those files. We just tagged [`v0.20.1`](https://github.com/GoogleCloudPlatform/google-cloud-php/releases/tag/v0.20.1), so you should see the updated documentation on our [docs site](http://googlecloudplatform.github.io/google-cloud-php) in a few minutes.

[2016-12-28 23:13] cedricziel commented on #287
Thanks for taking care @jdpedrie !

[2016-12-29 13:39] dwsupplee commented on #156
@diegosucaria I have been having trouble replicating this issue. Could you please share some more details about how your environment is configured?

[2016-12-29 14:50] dwsupplee commented on #156
@diegosucaria It is possible to use streams just for this library and continue using cURL for other use cases. Here is an example of how to override the default guzzle client used by the library:

[code]

Please let me know if this helps, in the mean time we are continuing to look into this.

[2016-12-29 15:09] diegosucaria commented on #156
Hi @dwsupplee  it seems the problem was not related to pubsub only, but something at appengine level...
check this:
http://stackoverflow.com/questions/40478889/google-app-engine-php-couldnt-resolve-host
http://stackoverflow.com/questions/39900569/curl-error-6-couldnt-resolve-host-www-googleapis-com-on-gae-pubsub

There is no way to replicate the issue now, because after 24hs I posted here (and in

[2016-12-29 15:44] dwsupplee commented on #156
Thanks for the follow up - and sorry for any issues that caused. I'll go ahead and close this out for now, please feel free to re-open if any other issues pop up!

[2016-12-29 15:44] #156 closed

[2016-12-30 09:24] n-for-all opened #300 "Retrieve the prefixes from google storage, to traverse the folder tree."
is there a way to retrieve the prefixes from google storage?, $bucket->objects() returns empty if the directory doesn't contain any objects, There should be another array to list all the prefixes, if not how can i get the prefixes/folders so i am able to move deeper.

[2016-12-30 16:31] dwsupplee commented on #300
Hey @n-for-all!

Unfortunately, `$bucket->objects()` does not currently return the prefixes. It is still possible to get them, but it entails using the underlying connection class that talks directly with the REST API.

[code]

We are currently working on a plan to replace generators with a more robust iterator class. Once that is implemented, we should be able to provide a method to access prefix

[2017-01-01 05:26] sahilpaudel opened #301 "Sample rate in request does not match FLAC header."
[code]

My error is :

Uncaught Google\Cloud\Exception\BadRequestException: { "error": { "code": 400, "message": "Sample rate in request does not match FLAC header.", "status": "INVALID_ARGUMENT" } } in F:\xampp\htdocs\sahilpaudel\speech\vendor\google\cloud\src\RequestWrapper.php:219 .

[2017-01-02 15:23] dwsupplee commented on #301
Hey @sahilpaudel,

Have you verified the sample rate of your file `quick.flac` is 16000? If you have SoX installed you can do so by running: `sox --i quick.flac`.

Alternatively, if you run the following:

[code]

you will install a dependency in your project which the library will use to attempt to determine the sample rate for you. Then your code could look like this:

[code]

[2017-01-03 12:30] ras44 opened #302 "maximumBytesBilled not included in BigQuery Service definition"
vendor/google/apiclient-services/Google/Service/Bigquery/JobConfigurationQuery.php contains a function to set maximumBytesBilled, however it doesn't seem to be shown as an option in the service definition at:

google-cloud-php/src/BigQuery/Connection/ServiceDefinition/bigquery-v2.json

[2017-01-03 15:06] dwsupplee commented on #302
Hey @ras44 :),

With release 0.20.0 we included a freshly regenerated version of the BigQuery service definition which includes the field you need.

https://github.com/GoogleCloudPlatform/google-cloud-php/blob/v0.20.1/src/BigQuery/Connection/ServiceDefinition/bigquery-v2.json#L871

Please let me know if that does the trick for you.

[2017-01-03 15:15] ras44 commented on #302
Thanks, @dwsupplee - that does the trick!

[2017-01-03 15:15] #302 closed

[2017-01-04 17:14] dwsupplee commented on #301
Hey again, @sahilpaudel! Have you had any success with the approach above?

[2017-01-05 10:01] Kwaghela opened #304 "I am getting empty array for other than brooklyn.flac file."
If I'm trying to convert .flac file into text, it is working okay with sample speech provided by google (brooklyn.flac) but not working with my uploaded file. It is giving empty array in output.

[code]

Please take a look into my code, and help me.
Thank you.

[2017-01-05 14:09] dwsupplee commented on #304
Hello @Kwaghela!

Hopefully we can get you up and running quickly here :). I don't see any outstanding issues at the moment with the code, would you be able to share the flac file you are trying to analyze with me?

[2017-01-06 06:11] Kwaghela commented on #304
Hello @dwsupplee
      Yes, sure.
      Here I am giving link for my audio file.

https://drive.google.com/file/d/0B6UXKqSBWCDVREYtT2RZUy1Qajg/view?usp=sharing

[2017-01-06 16:15] dwsupplee commented on #304
@Kwaghela The audio file you provided uses 2 channels. As speech currently only supports single channel audio, you will need to convert it down to a single channel.

https://cloud.google.com/speech/reference/rest/v1beta1/RecognitionConfig#audioencoding

After converting the audio file down to 1 channel I was able to successfully get a response with the provided audio file.

[2017-01-09 07:25] imsocb opened #307 "Natural Language API for PHP cannot work?"
I've downloaded the library via composer installation onto my XAMPP server for simple testing in local environment. Shouldn't it be straight forward and echo entity?

Rather new in php and google cloud NL API please tell me how to get it to work am i missing some steps?

[code]

[2017-01-09 09:35] Kwaghela commented on #304
@dwsupplee
thank you.

[2017-01-09 13:54] dwsupplee commented on #304
Happy to help!

[2017-01-09 13:54] #304 closed

[2017-01-09 13:57] dwsupplee commented on #307
Hey @imsocb,

What is the error you receive with the above code?

[2017-01-09 14:26] imsocb commented on #307
Hi thanks, for the reply! `Fatal error: Uncaught exception 'Google\Cloud\Exception\ServiceException' with message 'Could not load the default credentials. Browse to https://developers.google.com/accounts/docs/application-default-credentials for more information`'

[2017-01-09 14:32] dwsupplee commented on #307
Since you are running the code on your own server, it looks like you will need to provide your service account credentials explicitly.

Please take a look [here](https://googlecloudplatform.github.io/google-cloud-php/#/docs/v0.20.1/guides/authentication) to learn how you can obtain your credentials.

From there, your constructor should look like the following:

[code]

Hope this helps!

[2017-01-09 14:51] imsocb commented on #307
Hi, i added 'keyFilePath' => 'privatekey.json' statement and added the privatekey.json file in the same local directory file.

However, another error pops up stating:
`Fatal error: Uncaught exception 'Google\Cloud\Exception\ServiceException' with message 'cURL error 60: SSL certificate problem: unable to get local issuer certificate (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)' in vendo

[2017-01-09 15:46] dwsupplee commented on #307
@imsocb could you try the following and let me know if it works for you?

http://stackoverflow.com/a/34883260/643331

[2017-01-10 09:48] matthewgoslett opened #310 "PubSub - Google\Cloud\Exception\ServiceException: Deadline Exceeded"
I'm busy testing gRPC support with the PubSub API.

I have the following dependencies installed:
* gRPC 1.1 PECL extension
* google/gax 0.6.0 composer package
* google/proto-client-php 0.6.0 composer package (0.7.0 wouldn't work for me)

This is on PHP 7.0.11.

I'm testing a pull type subscription and keep getting "Deadline Exceeded" exceptions on a timeout.

[code]

Is there an option I need to p

[2017-01-10 13:42] imsocb commented on #307
Hi Thanks a lot for your help! Yes it worked :)

[2017-01-10 15:48] #307 closed

[2017-01-10 15:48] jdpedrie commented on #310
Can you share the code you're running that is giving this error?

[2017-01-10 16:24] matthewgoslett commented on #310
ye sure

It's the superbalist/php-pubsub-google-cloud adapter we maintain - https://github.com/Superbalist/php-pubsub-google-cloud

I've pushed latest changes to master in this commit - https://github.com/Superbalist/php-pubsub-google-cloud/commit/ed1c5203c3fc894e5a3d4c65db9a9f472e6a6668

We have a [dockerfile](https://github.com/Superbalist/php-pubsub-google-cloud/blob/master/Dockerfile) with [ex

[2017-01-12 03:46] songliqiangcn commented on #236
But how to using API key for testing only instead of "Service account"?

[2017-01-12 03:56] songliqiangcn opened #311 "How to using API keys for testing only instead of "Service account" for authentication?"
Hi, see the issue title and I share my codes below.

[code]

Yes, I know I can use "Service account" for the authentication like below, but how about API keys?

[code]

Thank you .

[2017-01-13 01:58] dwsupplee commented on #311
Hello @songliqiangcn,

Currently there isn't official support available for using API keys in the Speech Client.  This is definitely something we can consider adding in.

[2017-01-15 22:57] amoiseiev opened #312 "PHP sdk sets 'predefinedAcl' to 'private' by default."
PHP sdk sets 'predefinedAcl' to 'private' by default for GCS objects.

It's confusing and inconsistent with gsutil, Google Cloud Console and with API documentation that lists it as an optional parameter:

https://cloud.google.com/storage/docs/json_api/v1/objects/insert

Google Cloud Console and gsutil omit this parameter and objects get assigned default object permissions set for the bucket (gsuti

[2017-01-16 15:37] dwsupplee commented on #301
@sahilpaudel I am going to close this out now, but please feel free to re-open if you need any further assistance.

[2017-01-16 15:37] #301 closed

[2017-01-16 15:56] dwsupplee commented on #312
Closed by https://github.com/GoogleCloudPlatform/google-cloud-php/pull/313

Thanks again @amoiseiev!

[2017-01-16 15:56] #312 closed

[2017-01-17 03:14] Temikus opened #314 "Docs: Endless redirect"
Repro:

1) Visit
https://googlecloudplatform.github.io/google-cloud-php/#/docs/ServiceBuilder
2) ???
3) Profit

[2017-01-17 14:45] dwsupplee commented on #314
Thanks for the report Temikus!

I'll take a look today to see if this is an issue we can fix or something we need to pass on to the team who manages the angular app that drives the documentation.

In the meantime, using all lower case in the url should work:
https://googlecloudplatform.github.io/google-cloud-php/#/docs/servicebuilder

[2017-01-17 19:21] bshaffer opened #315 "Add Support for the KMS API"
The [KMS (Key Management Store) API](https://cloud.google.com/kms/) is currently in beta. It would be great to provide support! Here are some useful links:

 - [KMS Docs](https://cloud.google.com/kms/docs/quickstart)
 - [PHP samples](https://github.com/GoogleCloudPlatform/php-docs-samples/pull/302)
 - [PHP Quickstart](https://github.com/GoogleCloudPlatform/php-docs-samples/tree/master/kms/quicksta

[2017-01-17 21:48] waynerasmussck opened #316 "PHP Cloud Storage API wipes out options on bucket->objects"
When making a call like this:
[code]

My options parameter seems to have no effect. I have tried other options and they don't seem to work either. In stepping through the code. This snippet eventually wipes out my options:

\Google\Cloud\RestTrait send() line 71
[code]

My options are in the options array before that but gone afterwards. Also, it looks like the JSON API takes those options as quer

[2017-01-17 22:09] waynerasmussck commented on #316
After further review, the $options array is also used later, so that may not be the problem, but the options are definitely not honored.

[2017-01-17 22:12] dwsupplee commented on #316
Hey there, @waynerasmussck!

May I ask which other options you have attempted to pass through? For example, `projection` defaults to `noAcl` (which we should definitely document! apologies for that) so you wouldn't see anything change there - have you tried passing `full` to see if you get more data back?

I just tested with the following:

[code]

And the returned objects were properly filtered u

[2017-01-17 22:34] waynerasmussck commented on #316
I actually just figured out the real problem. It is only with the prefix parameter. I must have fat fingered the projection parameter the first time.

So the problem is only the the prefix parameter and only when you want to find files that begin with the string zero "0". This code in Google\Cloud\UriTrait line 52 strips them out. I guess this could be a problem with other parameters, but it's the

[2017-01-17 22:38] waynerasmussck commented on #316
I am going to make a new issue with a more accurate title then delete this one.

[2017-01-17 22:45] waynerasmussck opened #317 "Options with falesy values are stripped from $storageClient->bucket->objects call"
The problem exhibits itself with the following call:

$generator = $this->storageClient->bucket('some-bucket-identifier)->objects(['prefix' => '0']);

This is caused by this code

Google\Cloud\UriTrait line 52
[code]

For example I wanted to find files beginning with "0" (the string zero) but this gets filtered out because the string "0" is treated as false.

[2017-01-17 22:45] #316 closed

[2017-01-17 22:56] dwsupplee commented on #317
Nice work finding this, and sorry for any headaches it may have caused! When you have a moment could you check out https://github.com/GoogleCloudPlatform/google-cloud-php/pull/318 and let me know if it resolves the issue for you?

[2017-01-18 02:46] waynerasmussck commented on #317
Those changes look like they will fix this problem.

[2017-01-18 21:07] pbogle opened #319 "PHP Cloud Speech client should not do header parsing"
We are adding header parsing on the server for v1; please do not duplicate this functionality in the client to ensure consistent behavior across all languages.

(pbogle, Cloud Speech TL)

[2017-01-18 21:26] pbogle opened #320 "PHP Cloud Speech Veener should not provide default language codes or sample rates"
The default language should be removed because if it is wrong users will resolve garbled or empty results and get confused.

Default sample rates should also be removed.  For audio types with a header the server can automatically determine the sample rate. For audio types without a header the default causes more harm than good because if it is incorrect

[2017-01-18 21:53] dwsupplee commented on #317
Closed by https://github.com/GoogleCloudPlatform/google-cloud-php/pull/318

[2017-01-18 21:53] #317 closed

[2017-01-19 19:21] bshaffer commented on #315
@ianmaddox

[2017-01-30 11:11] aonurbilgin opened #324 "BigQuery createTable with schema ?"
is that possible create a table with schema ?

[2017-01-30 19:30] dwsupplee commented on #324
Hey @aonurbilgin! Yes, it is - let me know if the following example helps:

[code]

For more on how the data can be structured, please see [here](https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#schema).

[2017-01-31 12:31] aonurbilgin commented on #324
Hey @dwsupplee!, Thank you it works ;)

[2017-01-31 15:29] #324 closed

[2017-01-31 17:52] jdpedrie opened #325 "Add gcsUri() helper method to Google\Cloud\Storage\StorageObject"
In order to make it simpler for users to generate a cloud storage URI from an object, we should add a helper method called `gcsUri` or similar to `Google\Cloud\Storage\StorageObject` which will concatenate the bucket and object name into a URI of the format `gs://<bucket>/<object>`.

Additionally, any parts of the library which currently accept an instance of `StorageObject` should be updated to a

[2017-02-01 13:14] LeonMelis opened #326 "'certificate verify failed' if php-curl is not installed"
I am using google-cloud-php on a Debian PHP7.0 docker container (deployed using Kubernetes on GCS).

Using the following code:

    $storage = new \Google\Cloud\Storage\StorageClient();
    $storageBucket = $storage->bucket('my_bucket');
    $storageObject = $storageBucket->object('my_file.txt');

    echo $storageObject->downloadAsString();

I get the following error when calling `downloadAsStrin

[2017-02-09 09:33] omaray opened #327 "Storage: add support for Per-Object Storage Class"
We need to add support for Per-Object Storage Class (POSC).

Here some extra information to help:

- [POSC info from Cloud Storage documentation](https://cloud.google.com/storage/docs/per-object-storage-class)
- [POSC example with JSON API](https://cloud.google.com/storage/docs/changing-storage-classes)
- [Storage Class info from Cloud Storage documentation](https://cloud.google.com/storage/docs/s

[2017-02-09 16:23] ammopt opened #328 "using oauth"
Hello all,

I'm not sure how to authenticate users with this lib using oauth.
I've been building an app to communicate with GC Storage and I started with [storage-getting-started-php](https://github.com/GoogleCloudPlatform/storage-getting-started-php).

Everything was coming up nicely until I realized that that project is using [google-api-php-client](https://github.com/google/google-api-php-clien

[2017-02-10 15:31] dwsupplee commented on #328
Hey there @ammopt!

We don't have official support for an oauth workflow in this library yet, the main focus has been service accounts - but I believe it is still possible to achieve what you're looking for. :)

I used [the PHP league's oauth2 google provider](https://github.com/thephpleague/oauth2-google) to get things up and running. Please note that the provider requires PHP >= 5.6.

Here is a

[2017-02-14 12:43] ammopt commented on #328
Hello @dwsupplee !

Thank you so much for your detailed reply.
From my understanding, the standard use case in using an API to work with GCS is for applications storing and managing digital objects themselves, this is probably the reason oauth isn't (or hasn't been) considered, correct me if I'm wrong though.
However, the app I'm building is a web-app bucket browser that allows the user (upon auth

[2017-02-14 15:15] ammopt commented on #300
Hello @dwsupplee and @n-for-all
I second this, I used this Rest solution in conjunction with the one in #328 for oauth support, both provided by @dwsupplee and I ended up constructing the Rest object providing the access token after authentication.

`   $restConnection = new Rest([
     'accessToken' => $accessToken
   ]);`

Perhaps implementing a method prefixes() in Bucket class that returns onl

[2017-02-14 22:04] tomwalder opened #330 "Add support for Cloud Spanner API"
Thank you ;)

[2017-02-15 00:00] jdpedrie commented on #330
Stay tuned!

[2017-02-15 15:49] migueru opened #331 "upload function validate option"
The 'validate' boolean option in the optional array provided in the 'upload' function does not seem to actually validate the data being uploaded to GCS, mistakenly executed the function with an undefined variable as the data object to be uploaded and the upload was executed without any exception, checked GCS and the 'file' had been uploaded although it was empty when opened. In my case it was a tx

[2017-02-15 16:33] dwsupplee commented on #331
Hey there @migueru! Thanks for filing this issue.

In the case of an undefined variable being passed in, the underlying code would see that as a value of null (which actually would be valid to upload). The `validate` option actually calculates a hash of the provided data to be sent along while uploading, once the upload is complete if the provided hash doesn't match that on the server it will be r

[2017-02-15 16:43] migueru commented on #331
Noted, thank you @dwsupplee !

[2017-02-15 18:20] #331 closed

[2017-02-16 09:53] omaray opened #335 "Write more integration tests for BigQuery"
Please see email I sent about the details and test cases from @tswast .

Also, C# has [some examples](https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/Google.Cloud.BigQuery.V2/Google.Cloud.BigQuery.V2.IntegrationTests/ExhaustiveTypesTest.cs) that might be worth looking at.

/cc @jskeet @jba @tswast @danoscarmike

[2017-02-16 16:54] RussianSwiss opened #336 "BadRequestException: “The key path element name is the empty string.”"
Uncaught error periodically appearing when doing similar Datastore transactions.

[code]

**_Stack trace:_**

[code]

[2017-02-16 16:58] jdpedrie commented on #336
Hi @RussianSwiss! Are you able to share the part of your application code that is triggering the library exception?

[2017-02-16 17:14] RussianSwiss commented on #336
Hi! Yeah, here are the Datastore parts.

**Lookup part:**
$key = $datastore->key("Usernames", $receiver); $task = $datastore->lookup($key); $usernameID = $task["ID"];

**Upsert part:**
$key = $datastore->key("Limbo", $receiver); $task = $datastore->entity($key, ["RUB" => $newRBal]); $datastore->upsert($task);

[2017-02-16 17:27] jdpedrie commented on #336
The error suggests that `$destination` is empty in some cases. I'd look for situations in your code in which that variable may not be set properly. If you're sure that it is always a non-empty string, then you can inspect the Exception a bit closer to figure out what's going on.

Try wrapping your upsert call in a try/catch, like this:

[code]

This will print out the value of `$destination` and

[2017-02-16 17:38] RussianSwiss commented on #336
Will try tomorrow and post back to say if it works!) Thank you!!

[2017-02-16 17:39] jdpedrie commented on #336
Good luck! Let me know if you get stuck or run into any other problems.

[2017-02-16 17:42] RussianSwiss commented on #336
Sure! Thank for helping me. Did not expect such a warm and quick rescue :-)

[2017-02-16 19:21] landrito opened #337 "Natural Language: Default language should not be en."
If the user doesn’t specify the language, NL detects it for them automatically. The language shouldn’t be set to EN by default.

[2017-02-17 17:56] SurferJeffAtGoogle opened #338 "When are new speech API changes?"
I'm updating the speech sample.
A 'composer update' upgraded google/cloud to v0.20.2.
But it looks like the client doesn't have the new API changes.
For example, when I change sampleRate to sampleRateHertz, I get the following error:
InvalidArgumentException' with message 'Unable to determine sample rate. Please provide the value manually.

[2017-02-17 18:13] dwsupplee commented on #338
Hey @SurferJeffAtGoogle, we have the changes in the private repository currently. @jgeewax can help you get access to the repository to see the changes.

@shinfan when should we plan to release the changes publicly?

[2017-02-18 00:48] #337 closed

[2017-02-19 17:30] michaelvdnet opened #340 "No system CA bundle could be found in any of the the common system locations."
When i tried to run a very simple script related to the datatstore:
[code]

I got the following error:
[code]

I've downloaded the `ca-bundle.crt` and set the `openssl.cafile` property to the path to it, but i still get the same error.

These are the related versions:
[code]

NOTE: This is a google cloud appengine application, only tested so far with dev_appserver.py

[2017-02-19 19:42] dwsupplee commented on #340
Hey @michaelvdnet! :)

You can provide a customized guzzle client to the library like so:

[code]

This will allow you to tell guzzle exactly where to find the certificate you downloaded.

Can you give it a shot and let me know if it helps? If not, a few questions:

Which version of PHP are you running?
Do you have cURL installed locally? If so, which version?

Thanks!
Dave

[2017-02-20 14:37] #330 closed

[2017-02-21 15:43] RussianSwiss commented on #336
Hi @jdpedrie! I think the problem is not in the emptiness of $destination. I did not used try/catch construction yet, however today I found out that I have **same exception error** when I get **callback query** in telegram bot, after I use touch **inline button**.

The bot just cycles and does the case: action 8 times within 2-3 producing the same error in Google Cloud.

Do you have any thought on

[2017-02-21 15:54] RussianSwiss commented on #336
By the way here is the composer installation

[code]

[2017-02-21 15:57] jdpedrie commented on #336
Please do try the `try/catch` I mentioned and share the results when you get an error. Even if `$destination` is set properly, an idea of what is sent to the API will help debug this.

I'm not sure what your bot is doing or how it's related, unfortunately. You might need to explain that part a bit more.

[2017-02-21 16:27] RussianSwiss commented on #336
I replaced all **$datastore->upsert($task);** with
[code]
**life** is a function for sending message to me in the bot

I made several Datastore transactions - no issues.
Again when I use inline button and get callback query - it cycles.

Both did not give any errors.

[2017-02-21 23:39] dwsupplee opened #342 "Replace Generators with an Iterator class"
For more context as to why, please see:

https://github.com/GoogleCloudPlatform/google-cloud-php/issues/300#issuecomment-269791488
https://github.com/GoogleCloudPlatform/google-cloud-php/issues/295#issuecomment-268086458

[2017-02-22 13:16] michaelvdnet commented on #340
Hi @dwsupplee

Thanks for your answer, i've seen the code snippet you added around on the internet but did not know how it implement it!

After adapting the code and running it i basically got the same error, however after setting `'verify'` to `false` I got the following *new* error:

https://gist.github.com/michaelvdnet/1d228bf42a6cabc977e07607515d3240

I also had to add `extension=php_curl.dll`

[2017-02-22 14:53] alexleonard opened #343 "TranslateClient throwing exception with any use of translate() method, other methods work fine"
Using the latest version `"google/cloud": "^0.20.2"`

I can't seem to get translation working at all.

[code]

throws the following exception

[code]

If I specify the 'model' as 'base' (I don't think I have nmt enabled)

`$client->translate('How are you?', ['target' => 'es', 'model' => 'base']);`

I get a very similar exception:

[code]
However other requests are working fine:

[code]
returns

[c

[2017-02-22 15:07] alexleonard commented on #343
On a hunch I edited TranslateClient and commented out the addition of the model option and it works

I edited TranslateClient::translateBatch() like this:

[code]
and now I get this response:
[code]

[2017-02-22 16:11] jdpedrie commented on #343
I've verified this. Let me dig around and I'll get back to you. Sorry for the inconvenience!

[2017-02-22 17:25] jdpedrie commented on #343
Hey @alexleonard, I've opened a PR to address this issue. (#344) Would you be able to give that a shot and make sure it fixes the error?

[2017-02-22 18:16] dwsupplee commented on #23
Closed by https://github.com/GoogleCloudPlatform/google-cloud-php/pull/323

[2017-02-22 18:16] #23 closed

[2017-02-22 18:28] alexleonard commented on #343
Thanks John, I've wrapped up for the day here but will check it in the
morning.

Cheers,
Alex

On Wed 22 Feb 2017 18:25 John Pedrie <notifications@github.com> wrote:

--
Alex Leonard ~ alex@leonard.ie ~ plus.google.com/+AlexLeonard
Websites: alex.leonard.ie ~ ebauche.net <http://www.ebauche.net/>

[2017-02-22 19:41] #343 closed

[2017-02-23 02:01] tmatsuo opened #346 "GCS stream wrapper: PHP notice for Undefined index"
When invoking is_writable for a gcs bucket, I'm getting PHP notice as follows:

[code]

also for updated and timeCreated as well.

The code in question:
https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Storage/StreamWrapper.php#L595

Does it make sense to suppress those PHP notices?

[2017-02-23 03:54] jdpedrie commented on #346
I'll get this fixed and tagged tomorrow.

[2017-02-23 07:13] Purus commented on #236
@songliqiangcn Any luck with your question? Were you able to find a solution?

Hi all, how do I use API key isntead of the json key file?

[2017-02-23 18:51] #346 closed

[2017-02-24 03:54] Purus opened #349 "Annotation Result Array Index"
I am doing batch annotation for Vision API and it works fine. But how do I know which annotation result is for which input image? Output array keys are always 0 and does not consider if custom index value is provided for array.

[code]

[2017-02-24 04:02] jdpedrie commented on #349
Would [array_values](http://php.net/array_values) on the images array work for you? That should give you an input you can correspond to the annotation.

[2017-02-24 06:04] Purus commented on #349
As per my observation the annotation result array always has index starting from 0 and not the array key value I set for the input images array.

In my CMS each image has an ID value(auto incremented) and I do some operation based on the annotation result. So I need a way to match the annotation result to an ID.

Hope I am making sense.

[2017-02-24 17:58] tmatsuo opened #351 "[GCE StreamWrapper] Another undefined index"
I got:

[code]

https://github.com/jdpedrie/gcloud-php/blob/8300dacad4c574bf791bf524b87fba0f330f156d/src/Storage/StreamWrapper.php#L492

[2017-02-25 16:13] jdpedrie commented on #349
I think I understand your problem. Let me try to explain my idea of using `array_values` to solve it.

First, we have a set of image with non-standard indexes. Let's say we're using running a couple images on Cloud Storage through Cloud Vision:
[code]

`$annotations` will come back as type `Annotation[]` (an array of `Annotation`s. Lets use `array_values` to print the image and some info about the

[2017-02-25 16:17] Purus commented on #349
This is exactly I am looking for. What I was not sure is the order of the result.

Thanks for the help.

[2017-02-25 16:17] #349 closed

[2017-02-25 16:58] mjniuz commented on #338
Any updates?

[2017-02-25 21:00] dwsupplee commented on #236
@Purus we currently do not have support for using an API key in speech.

@michaelbausor if it sounds good to you I'd be happy to add this in.

[2017-02-26 21:08] shinfan commented on #338
@pbogle Do we have a date to release v1?

[2017-02-27 02:08] #351 closed

[2017-02-27 02:08] #335 closed

[2017-02-27 02:54] dwsupplee commented on #340
I would be surprised if this solves the problem (since you already set verify to false and ran into issues), but could you attempt the solution found [here](https://github.com/google/google-api-php-client/issues/788#issuecomment-232704589) and see if that helps?

I will have access to a windows machine tomorrow and will attempt some further debugging, hopefully then we can quickly get to the botto

[2017-02-27 03:41] YuK1Game opened #354 "BigQuery: How to use runQuery by dryRun"
OK!

error

dryRun supported?

[2017-02-27 13:38] dwsupplee commented on #354
Thanks for the report @YuK1Game, this seems like something we should be able to support.

[2017-02-27 16:40] dwsupplee opened #359 "Compute should use guzzle by default"

[2017-02-28 14:47] jdpedrie commented on #285
closed by #357.

[2017-02-28 14:47] #285 closed, assigned to jdpedrie

[2017-02-28 15:04] GLStephen opened #363 "Very Slow Guzzle Calls"
We have an API server that is ingesting messages into PubSub. This service is new, before we were writing into a Kafka install with very low latency. While latency with PubSub is higher (and yes, we are evaluating GRPC) the average latency is acceptable, but we are seeing consistent exceptionally high Guzzle requests in New Relic. This is a sample request:

4,650 https://pubsub.googleapis.com/v1/p

[2017-02-28 15:29] dwsupplee commented on #363
Hey there @GLStephen!

A few questions to start:
What type of environment is your code executing within (app engine, compute, etc.)?
Could you help me understand the trace provided? How long is the request taking, is it possible the initial request may have failed and the delay is due to retrying?
Is there any commonality between the requests that are timing out?
How would you define consistent? E

[2017-02-28 15:36] GLStephen commented on #363
This is on Compute Engine, the request is taking that full 4.6 seconds with a few milliseconds for other activity. Essentially each request just turns a call into a pubsub message. I don't think the initial call failed, is there a way to log that or get visibility into it?

We are processing about 6k per minute and we see a request of 600ms+ to the API publish endpoint every 2-4 minutes. So, it's

[2017-02-28 16:07] dwsupplee commented on #363
It's definitely smart to get ahead of the game. Thanks for the extra info.

By default the library will attempt to retry 3 times before giving up, you could set the number of retries to 0 to see if that exposes any issues.

[code]

[2017-02-28 18:02] GLStephen opened #364 "With Transport gRPC Enabled App Begins Tossing 500 Errors Because Can't Find Default Credentials"
In the process of debugging a performance issue submitted earlier #363  I have also enabled gRPC for a subset of our application calls. When gRPC is enabled however the app begins tossing errors about not able to find default credentials. This is running on Compute Engine and the credentials work for REST calls. is it required to setup a JSON credential file with gRPC?

[2017-02-28 18:16] dwsupplee commented on #364
It shouldn't be required, per my understanding. Could you share the full error please?

[2017-02-28 19:34] GLStephen commented on #364
in /vendor/google/auth/src/ApplicationDefaultCredentials.php line 56
ApplicationDefaultCredentials.php line 156

Could not load the default credentials. Browse to https://developers.google.com/accounts/docs/application-default-credentials for more information

[2017-02-28 19:43] dwsupplee commented on #364
Thanks! It's possible that the [`GCECredentials::onGce()`](https://github.com/google/google-auth-library-php/blob/master/src/Credentials/GCECredentials.php#L123) call may be failing in compute engine for some reason. I will investigate further and let you know what I find, in the meantime - does creating a service account and using that work for you?

[2017-03-01 21:44] GLStephen commented on #364
Creating a service account file and using a file for it slowed the process down significantly. I'm digging into why and working on a better testbed to dig into the issue.

[2017-03-01 22:09] GLStephen commented on #364
Digging into this it certainly seems the credential has some effect. The latency chart only shows median and slowest 2%, but that slowest 2% is > 9s. Should I report this to Compute Engine support? I ran the pubsub key for about 12 hours and it had better performance, but seems to have caused other issues. I'll look into that part. I blocked out account names since I'm unclear about their security

[2017-03-01 23:41] dwsupplee commented on #364
Very interesting. It is certainly possible, as there are quite a few layers of code that manage the gRPC making it's way up to where it is available through the PubSubClient offered by our library. Requests around 9s is definitely a red flag, and it does seem worth bringing up with compute engine support.

Thanks for the research thus far!

[2017-03-03 03:45] dwsupplee commented on #340
@michaelvdnet I was able to dig into this a bit more, here's what I found:

The onAppEngine call found [here](https://github.com/google/google-auth-library-php/blob/master/src/ApplicationDefaultCredentials.php#L149) is failing while using the local dev server. I moved the code around a bit to allow the check to pass, and ended up receiving an invalid token [here](https://github.com/google/google-a

[2017-03-03 04:08] dwsupplee commented on #340
After a little more poking around, it looks like the calls to [`CredentialsLoader::fromEnv()`](https://github.com/google/google-auth-library-php/blob/master/src/CredentialsLoader.php#L90) and [`CredentialsLoader::fromWellKnownFile()`](https://github.com/google/google-auth-library-php/blob/master/src/CredentialsLoader.php#L65) (which are checked before the onAppEngine call) aren't working in the lo

[2017-03-03 07:56] dwsupplee commented on #310
Hey @matthewgoslett! Apologies for the delay in a response here.

I spent some time looking into this, and it appears that a default timeout of 60 seconds is being applied to pull calls which are run through gRPC.

https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/PubSub/V1/resources/subscriber_client_config.json#L70

You can override this default setting like so:

[code]

Pl

[2017-03-03 18:22] jdpedrie commented on #336
Hey @RussianSwiss, sorry for the delay. I've still not been able to duplicate this error. Were you able to trigger an error using the try/catch we discussed? If so, can you share the output of `$showString`?

[2017-03-03 18:40] dwsupplee opened #376 "Define a common set of request options that apply for REST/gRPC"
As an example we could have a single way to configure a timeout that would apply for both transports.

[2017-03-03 22:26] RussianSwiss commented on #336
Was not able to catch the error in `$showString`. Still getting this error, but not in try/catch.

[2017-03-06 00:15] jdpedrie commented on #336
Unfortunately, without any more details I can't do much to help. Is it possible your `life` function isn't propagating messages the way you expect it to? Or perhaps there's another upsert call you're not wrapping in the try/catch?

[2017-03-06 00:18] jdpedrie opened #381 "Add proto documentation to docs site"
**NOT RELEASE BLOCKING**

This is related to #99.

The solution proposed in #373 links to external sources for proto client documentation. Importing the proto API into the docs site is currently blocked while we await implementation of the new proto3 client. Once that is done, we will add the proto clients to the documentation site.

[2017-03-06 07:18] RussianSwiss commented on #336
Life is propagating messages. Tested.
All upsert call wrapped.

[2017-03-06 14:14] dwsupplee commented on #336
@RussianSwiss could you try  `catch (\Exception $e)` instead of `catch (\Google\Cloud\Exception\BadRequestException $e)`?

[2017-03-06 14:18] jdpedrie commented on #336
In addition to what @dwsupplee mentioned, make sure **all** datastore commits (`insert`, `upsert`, `update`, `delete`, and their batch equivalents) are wrapped in the try/catch, not just the upsert calls.

[2017-03-06 15:20] dwsupplee commented on #310
I'm going to close this out for now, please feel free to re-open if there are any other concerns.

[2017-03-06 15:20] #310 closed

[2017-03-06 17:11] dwsupplee opened #384 "Make sure links are not outdated as part of our CI process"
Just a simple check to make sure links do not 404 could be very helpful

[2017-03-06 17:14] jdpedrie commented on #384
I tried working on something like this once. I was concerned that the large number of http requests to cloud.google.com could pose an issue. There were several hundred links which would need to be tested.

[2017-03-06 17:24] dwsupplee commented on #384
@michaelbausor if we were to automate testing of links on a rare occasion, say when we tag a release - do you think we would run into any issues being blacklisted?

[2017-03-06 18:38] jdpedrie opened #386 "Implement IAM support in Google Cloud Storage"

[2017-03-07 17:52] #99 closed

[2017-03-07 18:33] michaelbausor commented on #384
I don't know - I will ask around

[2017-03-10 22:24] #166 closed

[2017-03-12 18:03] marcinrosinski opened #392 "StorageObject->update() throws ConflictException when predefinedAcl option is provided"
To reproduce, invoke

[code]

the following exception is being thrown:

[code]
works fine under bucket->upload() e.g.

[code]

[2017-03-14 16:15] jdpedrie commented on #314
This should be fixed now.

[2017-03-14 16:15] #314 closed

[2017-03-14 21:36] bshaffer opened #396 "RFC: Add class for Exception Handler"
As seen in the [error reporting](https://github.com/GoogleCloudPlatform/php-docs-samples/blob/master/error_reporting/quickstart/quickstart.php) example, we could provide a wrapper for registering an exception handler:

[code]

This is similar to the `StreamWrapper`, and would look something like this under the hood:

[code]

Some things to consider:

- This will most likely eventually use [`ErrorR

[2017-03-14 22:36] omaray opened #397 "Test top 4 APIs on GAE Flex, GKE, and GCP"
Test BigQuery, Storage, Datastore, and Logging client libraries on all the GCP platforms (don't include GAE Standard).

Close this issue once we confirm it all works.

[2017-03-15 03:41] jambrose42 opened #398 "Broken link"
Reached:

https://googlecloudplatform.github.io/google-cloud-php/#/docs/google-cloud/v0.24.0/not-found

Via redirect from:

https://googlecloudplatform.github.io/google-cloud-php/#/docs/latest/naturallanguage/naturallanguageclient

From:

https://cloud.google.com/natural-language/docs/reference/libraries#additional_resources
(PHP API Reference Documentation)

[2017-03-15 16:15] dwsupplee commented on #392
Thanks for the report. I am working on a fix.

[2017-03-15 16:33] jdpedrie commented on #398
Thanks for the report, @jambrose42. This should be fixed for you now!

[2017-03-15 16:33] #398 closed

[2017-03-15 21:12] tmatsuo commented on #396
For Error Rerporting, I think it's great if we also catch Fatal Errors like Syntax error. I'm prototyping this and hopefully I can share the design doc soon.

[2017-03-16 15:36] #392 closed

[2017-03-16 15:37] #376 closed

[2017-03-16 16:22] #342 closed

[2017-03-16 16:31] dwsupplee commented on #300
Closed by: https://github.com/GoogleCloudPlatform/google-cloud-php/pull/399

It's now possible to do the following:

[code]

[2017-03-16 16:31] #300 closed

[2017-03-16 17:25] dwsupplee commented on #295
Closed by: https://github.com/GoogleCloudPlatform/google-cloud-php/pull/399

[2017-03-16 17:25] #295 closed

[2017-03-20 17:20] michaelbausor opened #403 "Remove retries on rate limit errors in Natural Language"
We should not retry on `rateLimitExceeded` and `userRateLimitExceeded` errors for Natural Language, because the reset period is long and therefore we are unlikely to recover - rate issues are better being exposed and addressed by the client.

[2017-03-20 22:33] shinfan commented on #319
@dwsupplee What is the status of this issue?

[2017-03-20 22:33] shinfan commented on #320
@dwsupplee What is the status of this issue?

[2017-03-20 22:37] dwsupplee commented on #319
@shfinfan The changes outlined here and in https://github.com/GoogleCloudPlatform/google-cloud-php/issues/320 are both completed in the v1 branch that is hosted on the private repo. We have been waiting on word as to when we can merge it in.

[2017-03-20 22:41] dwsupplee commented on #325
Closed by: https://github.com/GoogleCloudPlatform/google-cloud-php/pull/360/commits/845424aab240c7d6c3616f122aaa65c5c9deea8c

[2017-03-20 22:41] #325 closed

[2017-03-21 09:47] martin55 opened #405 "ServiceException: cURL error 6: Could not resolve host: www.googleapis.com"
Hi, suddenly I started to getting this error:

Using GoogleVision and NaturalLanguage API

Any idea what can be behind?

[2017-03-21 12:28] adaojunior commented on #405
@martin55 not related with this repository at all, but I'm also getting this exact error on the system of the company, it is www.googleapis.com, it is another domain but the error is the same.

[2017-03-21 13:14] mbolli commented on #405
Same here using Translation API...

[2017-03-21 14:06] jdpedrie commented on #405
"Could Not Resolve Host" suggests there's a problem in your network settings, or in the Google Cloud Service. Everything on the [status dashboard](https://status.cloud.google.com/) looks good, so I'd suggest double checking your network settings. Did you recently upgrade your development environment or operating system? Is there a firewall which could have updated?

[2017-03-21 15:36] mbolli commented on #405
Yeah that's what I was thinking too, but I don't really know which of the upgraded packages might be responsible. And manually using curl does work flawlessly.
@adaojunior @martin55 Did you update some of the packages of the following listing?

[code]

[2017-03-21 23:26] michaelbausor opened #408 "Spanner - Document how to use session pools and how they can impact performance"
Since session pools won't be managed by a background process we need to ensure users are aware of the potential pitfalls so they can choose the right solution for their use case.

Note: Migrating issue from private repo.

[2017-03-21 23:29] michaelbausor opened #409 "Session Pooling Guidelines"
Removed

[2017-03-21 23:34] #409 closed

[2017-03-27 19:44] #386 closed

[2017-03-29 13:49] #403 closed

[2017-03-29 19:30] michaelbausor commented on #397
Tested for Datastore, Logging and Storage. Removing the release blocking label, but keeping the issue open to track bigquery.

[2017-03-30 15:07] lukesneeringer opened #418 "Add unit tests for the superset of expected API responses."
There was [a bug][] in the Node.js Vision client which was effectively that the client raised an exception if it ever got a key that it did not expect. This is relatively easy to do for any number of reasons:

[code]

This is an anti-pattern, because it strongly assumes that you will never get a new key that is not already in your key map. If the API adds a `gammaObject` key and this (Python) code

[2017-03-31 02:39] #338 closed

[2017-03-31 02:40] dwsupplee commented on #320
Closed by: https://github.com/GoogleCloudPlatform/google-cloud-php/pull/420

[2017-03-31 02:40] #320 closed

[2017-03-31 02:40] dwsupplee commented on #319
Closed by: https://github.com/GoogleCloudPlatform/google-cloud-php/pull/420

[2017-03-31 02:40] #319 closed

[2017-03-31 06:17] tmatsuo commented on #328
@dwsupplee Sorry for the late reply, but I would defer 3 legged OAuth flow to other libraries as long as you can inject the auth token from that flow.

[2017-04-02 22:25] zackify commented on #69
any news on this?

[2017-04-03 09:47] mjniuz opened #424 "Invalid audio channel count"
**Sometime** google showing this response after I sending a request.

`exception 'Google\Cloud\Exception\BadRequestException' with message '{
 "error": {
   "code": 400,
   "message": "Invalid audio channel count",
   "status": "INVALID_ARGUMENT"
 }
}
' in /apps/vendor/google/cloud/src/RequestWrapper.php:219`

[2017-04-03 12:20] dwsupplee commented on #424
Welcome @mjniuz,

https://cloud.google.com/speech/reference/rest/v1beta1/RecognitionConfig#audioencoding

Currently speech only supports 1 channel audio. Is it possible the requests which are triggering this error may be dual channel?

[2017-04-03 12:21] dwsupplee commented on #69
We will be brining this up in our touch base today, should have an update for you after then.

[2017-04-04 14:42] dwsupplee commented on #405
If you guys run into any other issues that may be related, please feel free to re-open.

[2017-04-04 14:42] #405 closed

[2017-04-04 14:43] dwsupplee commented on #340
Hey @michaelvdnet,

Did you have any luck with the approach outlined above?

[2017-04-04 15:21] dwsupplee commented on #69
It looks like we should be able to get started on this one mid Q2.

[2017-04-04 16:19] michaelvdnet commented on #340
Ah sorry, after being very busy I kinda forgot about it.

In the mean time i have reinstalled gcloud sdk a few times (stupid me didn't note all the steps).

With a default PHP.INI and the following code:

[code]

I no longer get any errors.
But, there is also nothing inserted as http://localhost:8000/datastore reports no entries.

[2017-04-06 10:11] RussianSwiss opened #435 "Class 'Query' not found using Datastore API on Google Cloud"
Why do I get **Class 'Query' not found** error? Run on Google Cloud completely.

[code]

[code]

[2017-04-06 11:21] jdpedrie commented on #435
Make sure you import the Query class.

[code]

[2017-04-06 13:49] #435 closed

[2017-04-06 19:43] RussianSwiss commented on #435
Imported.

The error now says: **Class 'Google\Cloud\Datastore\Query' not found** :-)

[2017-04-06 19:44] jdpedrie commented on #435
Apologies. It should be `Google\Cloud\Datastore\Query\Query`.

[2017-04-06 19:49] RussianSwiss commented on #435
Mm) Must be working now.
It shows me nothing now, but at least not giving me error!
Thank you! <3

[2017-04-07 15:39] jdpedrie commented on #336
@RussianSwiss are you still having problems with this?

[2017-04-07 15:42] jdpedrie opened #437 "Add test to ensure that installing all components separately does not conflict"

[2017-04-07 15:49] RussianSwiss commented on #336
Aha 😿

пт, 7 апр. 2017 г. в 18:39, John Pedrie <notifications@github.com>:

[2017-04-07 15:52] RussianSwiss commented on #336
One more thing. This one appered again when doing query as in another issue
after attaching \Query\Query class.

пт, 7 апр. 2017 г. в 18:49, Russian Swiss <russianswiss0@gmail.com>:

[2017-04-07 17:24] RussianSwiss commented on #435
Why the $result is nothing? The variable is empty.

[2017-04-07 17:47] dwsupplee commented on #424
@mjniuz hello again :)

Have you had any luck with this?

[2017-04-07 18:11] dwsupplee commented on #435
@RussianSwiss Interesting, the returned result should be [an iterator](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Datastore/Operation.php#L408). Have you attempted to iterate over the result set to view the rows?

[2017-04-07 18:15] RussianSwiss commented on #435
I will try to in an hour.

пт, 7 апр. 2017 г. в 21:11, David Supplee <notifications@github.com>:

[2017-04-07 19:51] bshaffer opened #440 "Should ServiceBuilder should be in Core?"
Hey guys!
There are a few cases where I'll require two cloud packages (especially for `storage` integration), and it makes sense to use the service builder, but I don't want to pull in everything. It seems to me that `ServiceBuilder` should be in the `Core` repository, so it can be used with any combination of subpackages. Thoughts?

[2017-04-07 21:03] dwsupplee commented on #440
Hey :)

What would we do when the service a user requests isn't actually installed on the system? Throw an exception? I could see that being a somewhat misleading experience - though I'm certainly not opposed to do the idea as I can see the value.

[2017-04-08 12:34] RussianSwiss commented on #435
@dwsupplee I get empty $result, saving it to file and it is empty. How can I iterate over emptiness?

[2017-04-08 13:26] jdpedrie commented on #435
What is the output of `var_dump($result)`?

[2017-04-08 13:27] RussianSwiss commented on #435
Emptiness.

сб, 8 апр. 2017 г. в 16:26, John Pedrie <notifications@github.com>:

[2017-04-08 13:29] jdpedrie commented on #435
var_dump will never not output anything. If you actually see *nothing*, you're doing something wrong. If you see *something*, please directly copy and paste it here.

[2017-04-08 13:30] RussianSwiss commented on #435
This is telegram bot, cannot var_dump actually. I save $result to file
using file_get_contents.

And created file is empty.

сб, 8 апр. 2017 г. в 16:29, John Pedrie <notifications@github.com>:

[2017-04-08 13:49] jdpedrie commented on #435
Well, unfortunately there is nothing we can do to assist if you are unable to provide any of what we need to see. If your bot isn't working as expected, I suggest you create a simple .php script runnable in the CLI to test this out. All signs point to errors in your application. If you can demonstrate errors in the google-cloud-php library, I'll certainly do all I can to address them.

[2017-04-08 13:52] RussianSwiss commented on #435
I'd love to test from CLI!

Can you please paste the initial Datastore glue how to connect to Datastore
from outside?

And I will drop var_dump immediately.

сб, 8 апр. 2017 г. в 16:49, John Pedrie <notifications@github.com>:

[2017-04-09 01:26] bshaffer commented on #440
I think an exception would be great! It could include the instructions with the composer module name or optionally using `composer install google/cloud`.

[2017-04-09 01:27] bshaffer commented on #440
The question is, should a user be required to pull in every API package in order to use the service builder?

[2017-04-10 05:43] neelmakhosla commented on #64
Please help me, I have created a bucket for videos on google cloud. I have to set some privacy settings on that bucket objects.
a) Any one can not directly access that bucket object from google link.
b) Bucket object can be accessible only from wordpress site authorize users. these bucket object, videos can  not be down loaded or save by users.

How this will be achieved?

[2017-04-11 19:08] jdpedrie opened #443 "Add support for STRUCT parameters"
Tracking item for when support is added in spanner.

[2017-04-11 21:18] adziuk opened #444 "Speech API Operation Class doesn't return full results"
In google-cloud-php/src/Speech/Operation.php

    public function results(array $options = [])
    {
        $info = $this->info($options);
        return isset($info['response']['results'])
            ? $info['response']['results'][0]['alternatives']
            : [];
    }

This function assumes that the results are fixed to 1 alternative, putting max_alternatives > 1, however, can result in mo

[2017-04-11 21:21] adziuk opened #445 "Why Does SpeechClient have Language Code as a class variable?"
Language Codes are set per request, and a service might want to support multiple languages, as is, it will either need to be changed per request, or you'll need multiple SpeechClients for each language.

[2017-04-11 21:36] adziuk opened #446 "SpeechClient.php guesses based on file extensions"
The functions determineSampleRate and determineEncoding attempt to guess sample rate and encoding from the file extension.  This is susceptible to incorrect naming of files, additionally, The Cloud Speech Servers support examining the file header and extracting information from them.  Additional checking on the client side is unnecessary, and likely to drift from the server.

[2017-04-11 23:41] adziuk commented on #444
Update: After reading more of this, with sufficiently long audio, this will simply return the wrong result.  With long audio, there are multiple results, corresponding to sequential segments of audio, this will return all of the alternatives from the first segment, and nothing for subsequent segments.

[2017-04-11 23:44] adziuk commented on #444
[link to relevant code](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Speech/Operation.php#L116)

[2017-04-12 00:30] adziuk commented on #445
[Link to relevant code](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Speech/SpeechClient.php#L101)

[2017-04-12 16:45] dwsupplee commented on #444
Thanks for the report @adziuk, I'll get this fixed today.

Do you know under what conditions a response is broken into multiple result sets? I was originally under the impression the multiple result sets were for streaming calls.

[2017-04-12 16:59] tmatsuo opened #447 "GCS streamwrapper fails to copy a file from GCE instance to a GCS bucket"
Steps to reproduce:

- Create a new GCE instance with full Cloud scope
- Create a GCS bucket if you don't have one
- Install php and composer
- Run the following command with your gcs bucket name

[code]

Then it fails to copy the file with a following error message.

[code]

[2017-04-12 17:02] tmatsuo commented on #447
Weirdly the same code works from my laptop and my workstation.
@chingor13 Can you look into it?

[2017-04-12 17:14] dwsupplee commented on #445
The language code is a class variable so that it can be set upon instantiation of the client as a default to be used across requests.

Your assertion of how to support multiple clients is correct, do you see a problem with the approach of assigning a new language code for each request in that doesn't intend to use the default?

[2017-04-12 17:25] dwsupplee commented on #446
We actually do rely on the server to parse FLAC headers for us. Only AMR and AMR_WB are assumed because it is my understanding those must have sample rates of 8000/16000 (respectively).

/cc @pbogle I believe we spoke briefly about assuming the encoding type off of the file type and the sample rate based off of whether it is AMR/AMR_WB. Is this still okay for us to do, or would you prefer we make

[2017-04-12 17:43] dwsupplee commented on #424
Closing this out for now. Feel free to re-open if you need anything further!

[2017-04-12 17:43] #424 closed

[2017-04-12 18:07] adziuk commented on #446
[determineEncoding](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Speech/SpeechClient.php#L423) [determineSampleRate](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Speech/SpeechClient.php#L446)

[2017-04-12 18:20] pbogle commented on #446
In virtually all cases, please do not implement argument validation encoding type or sample rate guessing on the client.

The server already validates all arguments, and where possible determines the file type (e.g. FLAC or WAV) and audio parameters by inspecting the file headers, which is more reliable and comprehensive than what the client is doing.

Attempting to do this on the client creates i

[2017-04-12 18:23] dwsupplee commented on #446
Okay, no problem! We'll get these removed.

[2017-04-12 19:01] chingor13 commented on #447
Yep, I'll take a look

[2017-04-12 19:38] danaharon commented on #444
When you set maxAlternatives (from https://cloud.google.com/speech-whitelist/docs/reference/rest/v1/RecognitionConfig) to a value greater than 1 then the API returns more than one alternative, regardless of whether you use recognize or LongRunningRecognize. The confidence scores for the results beyond first one are usually missing.

[2017-04-12 20:04] chingor13 commented on #447
Hmm, this totally works for me on GCE with php 5.6, 7.0, and 7.1. I used the "Debian GNU/Linux 8 (jessie)" Boot disk and used our gcp-php71/gcp-php70/gcp-56 packages. I'll try with a standard distribution next.

[2017-04-12 20:08] chingor13 commented on #447
Using debian's php 5.6.30-0+deb8u1 failed with the above error.

[2017-04-12 20:29] chingor13 commented on #447
The main difference I'm seeing right now is that the standard debian php doesn't have `curl_multi_exec` available, so Guzzle is using a different http handler.

[2017-04-12 20:36] chingor13 commented on #447
Current workaround: install `php5-curl` package. Still investigating why it fails without `curl_multi_exec`

[2017-04-12 20:36] tmatsuo commented on #447
Nice find. It started to succeed when I install `php5-curl` for me too.

[2017-04-12 21:03] adziuk commented on #444
Things are generally broken into multiple result sets with longer audio, Audio around 60 seconds long looks like it's generally broken into multiple "results", for example, from the attached file (LINEAR16, sample rate = 44100) :
Sync Recognize response: results {
  alternatives {
    transcript: "Pediatrics is my number one career choice. In many ways, it also reflects my second, third, and fourt

[2017-04-12 22:28] chingor13 commented on #447
The `StreamingUploader` is incorrectly setting the Content-Length header when uploading the last chunk. The Guzzle curl handler could handle streams, and would fix the Content-Length header. The `StreamHandler` will not.

If we fix the headers in the `StreamingUploader`, then this will work without requiring curl.

[2017-04-13 17:17] dwsupplee commented on #176
This was closed out by: https://github.com/GoogleCloudPlatform/google-cloud-php/pull/399

[2017-04-13 17:17] #176 closed

[2017-04-13 17:44] danaharon commented on #445
Customers may want to toggle between 20 languages at run-time depending the audio file being processed. It doesn't make sense for them to create 20 clients to achieve that purpose. Can we please fix ASAP?  This is a significant problem for us and will cause breakage of old code.
Thanks for the help!

[2017-04-13 17:56] dwsupplee commented on #445
I agree it wouldn't make sense to create 20 clients for that use case, that is why the languageCode can be set on a per request basis as well.

[code]

Does the above solve the problem you proposed? Apologies if I am missing anything.

Would you prefer to not have the language code set at the client and require the language code on each request?

The goal with requiring it at the client level was

[2017-04-13 18:04] danaharon commented on #445
Ahh - I didn't think of that. That's really smart and I like that idea. Only concern is that it is very different than the other libraries. You could theoretically use that same logic to suggest that all our client libraries ask for a default language code in the constructor but none of the others do that.

[2017-04-13 18:42] dwsupplee commented on #445
Good point! While we make an effort to keep a similar architecture to the other client libraries, there are definitely times things don't match up 1:1. If we can make things just a little easier for our clients, my vote is to go for it.

@michaelbausor do you have any thoughts on whether we should default the language code at the client level or not?

[2017-04-13 20:21] #447 closed

[2017-04-14 18:49] tmatsuo opened #450 "[Logging] Memory leak in the LoggingClient with grpc"
Steps to repro:

[code]

logging-test.php
[code]

Set `GOOGLE_APPLICATION_CREDENTIALS` and run it with and without grpc extension.

With the rest, the memory usage stays the same, but with grpc, it goes up.

[code]

[2017-04-14 18:52] tmatsuo commented on #450
@michaelbausor I'll appreciate if you can take a look.

[2017-04-14 19:44] michaelbausor commented on #445
As discussed offline, we will keep the language code setting in the client constructor, but make it optional. This means our client can be called without args, like other languages, and in that case each request will require a language argument. We also retain the language setting at the client level, which keeps the simple single-language use case simple.

[2017-04-14 20:54] #444 closed

[2017-04-14 20:55] dwsupplee commented on #446
Closed by: https://github.com/GoogleCloudPlatform/google-cloud-php/pull/449

[2017-04-14 20:55] #446 closed

[2017-04-14 20:55] dwsupplee commented on #445
Closed by: https://github.com/GoogleCloudPlatform/google-cloud-php/pull/449

[2017-04-14 20:55] #445 closed

[2017-04-14 21:31] tmatsuo commented on #450
Does it make sense to stop choosing the grpc transport until it's fixed?

[2017-04-15 04:36] bacheson opened #453 "Logger Entry should create timestamp when instantiated"
When using writebatch all log entries have the same timestamp...this is not ideal for obvious reasons. The ruby version already has this fixed.

[2017-04-15 04:40] tmatsuo commented on #453
@bacheson Thanks for the report!

The Logging API expects the following format:
[code]
Can we create the timestamp when the entry is created?
or at least is it possible to allow users to add their own timestamp?

[2017-04-17 13:44] dwsupplee commented on #453
We can definitely get timestamp added to `Logger::entry`. I will start work on that today. In the meantime it is still possible to pass in the timestamp if you instantiate an `Entry` without the factory method.

[code]

[2017-04-17 13:51] dwsupplee commented on #450
That's a good question. I'll bring this up during our touch base today.

Have you had an opportunity to see if the memory issues are related to the gAPIC layer or gRPC itself?

[2017-04-17 14:00] dwsupplee commented on #340
Glad there is progress :).

I don't see any issues with the posted code. What does the code triggered by the `/datastore` endpoint look like?

[2017-04-17 14:01] dwsupplee commented on #336
@RussianSwiss Have you tried executing your script outside the context of your bot? It may help to isolate the issue.

[2017-04-17 15:37] tmatsuo commented on #450
@dwsupplee No, I haven't done any deeper investigations yet, other than the reproducible code.

[2017-04-17 16:28] tmatsuo commented on #450
FYI, with the following code:
[code]

and with google-perftools, I get:
https://storage.googleapis.com/tmatsuo-wordpress.appspot.com/pprof.ps

Seems like it's in `GrpcCall startBatch`?

[2017-04-17 18:18] michaelbausor commented on #450
I can reproduce the leak. I am also seeing it when using gRPC only, not the GAPIC layer.

I will do some additional testing to try to pin down further what is happening.

[2017-04-17 20:49] tmatsuo opened #454 "Occasional errors under heavy load, fetching the projectId from the metadata server."
On App Engine flex, under certain load, I occasionally observe the following exception. Of course, you can easily workaround by providing a projectId, but does it make sense to cache the fetched value?

[code]

[2017-04-17 23:43] omaray opened #455 "Update the CONTRIBUTING content (and remove gcloud)"
The [CONTRIBUTING](https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/CONTRIBUTING.md) page could use a review and a few updates - especially with respect to the usage of the `gcloud` name.

And it would be good to double-check the content still works.

[2017-04-18 21:51] dwsupplee commented on #440
I'm on board with seeing how we can make this work. @jdpedrie do you have any thoughts?

[2017-04-18 22:16] jdpedrie commented on #440
I think I'm on board with the idea. I'm a bit concerned about Core suddenly needing knowledge of other packages, whereas up until now it has been one-way, with other packages depending on Core.

[2017-04-20 20:10] michaelbausor opened #458 "Add asynchronous publish support in Pubsub"
This is a tracking issue for adding support for an asynchronous publish method to Pubsub.

[2017-04-24 01:37] rcoenen opened #461 "[Speech] streamingRecognize individual writes sample not working?"
The comment field for the PHP SpeechClient's [streamingRecognize() method](http://googlecloudplatform.github.io/google-cloud-php/#/docs/cloud-speech/v0.3.0/speech/v1/speechclient?method=streamingRecognize) mentions that it should be possible to write individual requests with audio chunks to the stream (as opposed to using _$stream->writeAll($requests)_ and _stream->closeWriteAndReadAll()_ )

It sa

[2017-04-24 18:40] vanzay opened #464 "DatastoreSessionHandler fails with error"
Hi, I'm trying to configure Datastore session storage. I'm using an example from [https://github.com/GoogleCloudPlatform/google-cloud-php/blob/master/src/Datastore/DatastoreSessionHandler.php](url)
[code]
and it produces an error

[2017-04-24 18:58] tmatsuo commented on #464
@vanzay

Is the client able to write to the datastore?
Have you enabled Datastore API on your Cloud Project?

[2017-04-24 19:20] vanzay commented on #464
@tmatsuo

Yes, writing to Datastore and API are enabled.

[2017-04-24 22:09] #453 closed

[2017-04-25 15:12] michaelbausor commented on #461
Thanks for raising the issue! What seems to be happening is that the server is not ready to send any responses, so the `read()` call is blocking until timeout. So in this case, it is best not to call `read()` between calls to `write()`. The sample should be fixed to reflect this - I have filed an issue with the code generator here: https://github.com/googleapis/toolkit/issues/1215

Unfortunately t

[2017-04-25 16:10] rcoenen commented on #461
Hi Michael - thanks for clarifying. This is what I more ore less expected.
The Samples are written using the Symfony framework which does not seem to support threading (even when pthreads is installed). From what I understand ReactPHP does. Would it make sense to add a sample that uses pthreads using native PHP or ReactPHP (or if possible, added into the Symfony examples?)

[2017-04-26 15:03] michaelbausor commented on #461
This is something we should consider, although the streaming feature is still useful without threading, as an audio stream can be send to the server as it is received, even if `read()` is never called until the stream is complete. So we may prefer to keep the samples simple, rather than introducing a dependency on pthreads.

cc @bshaffer

[2017-04-27 16:33] michaelbausor commented on #450
Update: I am working on moving to the latest version of gRPC and PHP proto3 - then I will be able to confirm whether this is still an issue in the latest gRPC, and if so I will provide further details about how to reproduce and where the problem might be.

[2017-04-28 15:24] storytopadmin commented on #340
I'm getting the same error as michaelvdnet.  I tried to synthesize the answers provided above into a single test app but am now getting the error:  cURL error 60: SSL certificate problem: unable to get local issuer certificate

My php.ini contains only the two lines:

extension=php_curl.dll
curl.cainfo = "C:\Users\Meercat\workspace\stxxxxxxxxxx\cacert.pem"

Here is the app:

use GuzzleHttp\Client;

[2017-04-29 00:27] rcoenen commented on #461
Ok - makes sense. That said I have moved away from PHP and started my project over in NodeJS for this reason. The stuff I do relies on realtime speech transcription and PHP currently just isn't capable of doing this easily whereas NodeJS does it out of the box.

[2017-05-01 14:57] michaelbausor commented on #461
Sorry to hear that! I will close out this issue, and we can track the generated sample code through the issue filed against toolkit.

[2017-05-01 14:57] #461 closed

[2017-05-03 08:17] iamacarpet opened #470 "AppEngineFlexFormatter jsonPayload with context and extra"
The AppEngineFlexHandler and AppEngineFlexFormatter are great, have really helped us emulate the functionality of App Engine Standard as much as possible when it comes to logging.

As an enhancement, MonoLog supports "context" and "extra" arrays on a log entry, which currently get turned into a big string along with the message and stored on a textPayload.

It would be amazing for our developers t

[2017-05-03 08:44] iamacarpet opened #472 "fluentd not picking up last log entry - AppEngineFlexFormatter"
During testing with AppEngineFlexFormatter, fluentd wasn't picking up the last log line for a PID.

After testing, it turned out that the current code puts the "\n" before the log line, but fluentd won't pick it up until it's read a "\n", so the last long entry would never get processed.

[2017-05-03 21:26] tmatsuo opened #474 "Have `ext-grpc` as a dependency for services that only provide gRPC"
`Monitoring` is an example

[2017-05-04 12:54] #474 closed

[2017-05-04 15:18] #470 closed

[2017-05-04 15:18] #472 closed

[2017-05-04 17:57] tmatsuo commented on #450
Ok, I think there is a concern with upcoming churn on the Vision API. There is a plan to remove the rest client lib for Vision, but are we sure that the vision gapic lib doesn't have a similar memory leak?

[2017-05-04 18:00] tmatsuo commented on #450
@bshaffer Is it possible for you to write a program similar to the above one to reproduce the memory leak with the gapic vision client?